<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>

    <link rel="stylesheet" href="/kmarket/inc/css/_tamplateProduct.css">
    <link rel="stylesheet" href="/kmarket/inc/css/product.css">

    <!-- bxSlider -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>

<body>

    <header>
        <div class="top-bar-back">
            <div class="top-bar">오늘의 행운 룰렛 → 꽝 없는 선물파티 OPEN!</div>
        </div>

        <!-- 1번째 줄 -->
        <div class="top-header">

            <!-- 로고 -->
            <div class="header-left">
                <img src="/kmarket/image/logo.jpg" alt="로고" class="logo">
            </div>

            <!-- 검색창 -->
            <div class="header-center">
                <form action="">
                    <input type="text" placeholder="검색">
                    <button type="submit">
                        <img src="/kmarket/image/search.png" alt="검색">
                    </button>
                </form>
            </div>

            <!-- 아이콘 + 로그인 메뉴 -->
            <div class="header-right">
                <img src="/kmarket/image/user.png" alt="유저" class="icon">
                <img src="/kmarket/image/cart.png" alt="장바구니" class="icon" style="width: 30px;">

            </div>
        </div>

        <div class="bottom-header">
            <div class="header-left">
                <a href="#" id="categoryBtn"> 전체 카테고리</a>
                <a href="#">히트상품</a>
                <a href="#">추천상품</a>
                <a href="#">최신상품</a>
                <a href="#">인기상품</a>
                <a href="#">할인상품</a>

            </div>


            <div class="header-right login-menu">

                <a href="#">로그인</a> |
                <a href="#">회원가입</a> |
                <a href="#">고객센터</a>

            </div>
        </div>

    </header>

    <div class="container">

        <!-- 베스트 상품 안 들어가는 창은 여기부터 저 아래 주석까지 삭제하고 작업 -->
        <div class="left-space">
            <div class="inner">
                <h3>베스트 상품</h3>

                <!-- 첫 번째 상품 (카드형) -->
                <div class="product-card">
                    <div class="img-box">
                        <img src="/kmarket/image/prod1.png" alt="침대">
                    </div>
                    <a href="#" class="name">가이온 스너그 단면매트리스 침대 화이트</a>
                    <div class="price-box">
                        <div class="price-top">
                            <span class="original">266,180원</span>
                            <span class="discount">54%</span>
                        </div>
                        <div class="sale-cont">

                            <span class="sale">119,800원</span>
                        </div>
                    </div>
                </div>

                <!-- 나머지 상품 (리스트형) -->
                <ul class="product-list">
                    <li class="product-item">
                        <div class="thumb">
                            <img src="/kmarket/image/prod2.png" alt="운동화">
                        </div>
                        <div class="info">
                            <a href="#" class="name">여성용 러닝업 트래킹화</a>
                            <div class="price-box">
                                <div class="price-top2">
                                    <span class="original">133,090원</span>
                                    <span class="discount">54%</span>
                                </div>
                                <div class="sale-cont">

                                    <span class="sale">59,900원</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="thumb">
                            <img src="/kmarket/image/prod3.png" alt="세제">
                        </div>
                        <div class="info">
                            <a href="#" class="name">듀얼(드럼/일반 겸용) 2.7L x2개 세탁세제</a>
                            <div class="price-box">
                                <div class="price-top2">
                                    <span class="original">66,600원</span>
                                    <span class="discount">54%</span>
                                </div>
                                <div class="sale-cont">

                                    <span class="sale">29,950원</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="thumb">
                            <img src="/kmarket/image/prod4.png" alt="화장품">
                        </div>
                        <div class="info">
                            <a href="#" class="name">비건 피톤치드 시카 토너</a>
                            <div class="price-box">
                                <div class="price-top2">
                                    <span class="original">133,090원</span>
                                    <span class="discount">54%</span>
                                </div>
                                <div class="sale-cont">

                                    <span class="sale">59,900원</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="thumb">
                            <img src="/kmarket/image/prod5.png" alt="모자">
                        </div>
                        <div class="info">
                            <a href="#" class="name">남녀공용 모자 블랙</a>
                            <div class="price-box">
                                <div class="price-top2">
                                    <span class="original">133,090원</span>
                                    <span class="discount">54%</span>
                                </div>
                                <div class="sale-cont">

                                    <span class="sale">59,900원</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 여기까지 베스트 상품!! -->


        <div class="wrapper">

            <!-- 전체 카테고리 누르면 튀어나오는 메뉴창 -->
            <div id="categoryBox" class="category-box">
                <div class="main-menu">
                    <ul>
                        <li data-target="menu1">패션/의류/뷰티</li>
                        <li data-target="menu2">패션잡화</li>
                        <li data-target="menu3">명품</li>
                        <li data-target="menu4">뷰티</li>
                    </ul>
                </div>

                <div class="sub-menu">
                    <ul id="menu1" class="submenu-content">
                        <li><a href="#">여성의류</a></li>
                        <li><a href="#">남성의류</a></li>
                        <li><a href="#">아동복</a></li>
                    </ul>
                    <ul id="menu2" class="submenu-content" style="display:none;">
                        <li><a href="#">가방</a></li>
                        <li><a href="#">신발</a></li>
                    </ul>
                    <ul id="menu3" class="submenu-content" style="display:none;">
                        <li><a href="#">해외 명품</a></li>

                    </ul>
                    <ul id="menu4" class="submenu-content" style="display:none;">
                        <li><a href="#">스킨케어</a></li>
                        <li><a href="#">메이크업</a></li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <div class="complete-container">
                    <h1>주문완료</h1>

                    <div class="complete-message-box">
                        <p><strong>이민준</strong> 고객님 주문이 완료되었습니다.</p>
                    </div>

                    <div class="order-info-bar">
                        <span>2025년 9월 28일(일)에 주문하신 주문건의 주문번호는 <strong>202509280952869</strong>입니다.</span>
                        <a href="/kmarket/my/order.html">주문상세조회 ></a>
                    </div>

                    <div class="recipient-info">
                        <strong>받는 분 정보</strong>: 이민준 010-1234-1234 [집] 부산광역시 부산진구 동의대학교
                    </div>

                    <div class="price-summary-box">
                        <span>주문금액 <strong>23,580</strong>원</span>
                        <span class="op">-</span>
                        <span>상품할인 <strong>2,358</strong>원</span>
                        <span class="op">+</span>
                        <span>배송비 <strong>0</strong>원</span>
                        <span class="op">=</span>
                        <span class="final-price">최종결제금액 <strong>21,222</strong>원</span>
                    </div>

                    <section class="order-section">
                        <h2>주문 상품 정보</h2>
                        <div class="order-item">
                            <img src="https://sitem.ssgcdn.com/33/88/70/item/1000570708833_i1_110.jpg" alt="주문상품1">
                            <div class="order-item-info">
                                <p class="name">마스마룰즈 스트랩파우치 모음전 VER.3</p>
                                <p class="desc">옵션: SP_체커보드</p>
                                <p class="quantity">수량: 1개</p>
                            </div>
                            <div class="order-item-price">
                                <p class="price">23,580원</p>
                                <p class="discount">할인 -2,358원</p>
                            </div>
                        </div>
                    </section>

                    <div class="details-wrapper">
                        <div class="details-left">
                            <section class="order-section">
                                <h2>결제 내역</h2>
                                <div class="info-table">
                                    <div class="info-row">
                                        <span class="label">결제 방법</span>
                                        <span class="value">신용카드 (KB국민카드 9490-****-****-2084 / 일시불)</span>
                                    </div>
                                    <div class="info-row">
                                        <span class="label">총 결제금액</span>
                                        <span class="value final-value">21,222원</span>
                                    </div>
                                </div>
                            </section>
                            <section class="order-section">
                                <h2>주문 정보</h2>
                                <div class="info-table">
                                    <div class="info-row">
                                        <span class="label">주문번호</span>
                                        <span class="value">202509280952869</span>
                                    </div>
                                    <div class="info-row">
                                        <span class="label">주문자</span>
                                        <span class="value">이민준</span>
                                    </div>
                                    <div class="info-row">
                                        <span class="label">연락처</span>
                                        <span class="value">010-2109-8237</span>
                                    </div>
                                </div>
                            </section>
                            <section class="order-section">
                                <h2>배송 정보</h2>
                                <div class="info-table">
                                    <div class="info-row">
                                        <span class="label">수취인</span>
                                        <span class="value">이민준</span>
                                    </div>
                                    <div class="info-row">
                                        <span class="label">연락처</span>
                                        <span class="value">010-1234-1234</span>
                                    </div>
                                    <div class="info-row">
                                        <span class="label">배송지 주소</span>
                                        <span class="value">[집] 부산광역시 부산진구 동의대학교</span>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div class="details-right">
                            <section class="order-section">
                                <h2>이번 주문으로 누리는 구매혜택</h2>
                                <div class="benefits-box">
                                    <p class="benefit-title"><strong>21원</strong> 혜택을 받으셨어요!</p>
                                    <div class="benefit-item">
                                        <span>신세계포인트</span>
                                        <span>21원</span>
                                    </div>
                                </div>
                                <div class="promo-banner">
                                    <p>더 많은 혜택을 누리려면</p>
                                    <a href="#"><img
                                            src="https://sui.ssgcdn.com/cmpt/banner/202403/2024032113572839817171954381_63.png"
                                            alt="프로모션 배너"></a>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="action-buttons">
                        <a href="/kmarket/product/list.html"><button type="button" class="btn-secondary">쇼핑 계속하기</button></a>
                        <a href="/kmarket/my/order.html"><button type="button" class="btn-primary">주문상세조회</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



        <footer>

            <div class="top-footer">
                <div class="footer-wrapper">
                    <div class="top-f">
                        <a href="/kmarket/company/index.html" style="margin-left: 0px;">회사소개</a> |
                        <a href="#">서비스이용약관</a> |
                        <a href="#" style="color: rgb(175, 102, 175);">개인정보처리방침</a> |
                        <a href="#">전자금융거래약관</a>
                    </div>
                </div>
            </div>
            <div class="footer-wrapper">

                <h3 class="cpname">(주)샵플리닷컴</h3>
                <div class="call-cont">
                    <img src="/kmarket/image/call3.png" alt="" style="height: 45px; margin-top: 5px;">
                    <span class="tel">1234-5678</span>
                    <span class="time"> (평일 09:00~18:00)</span>
                </div>
                <div style="color: gray; margin-top: 15px">
                    <span>대표이사 : 홍길동</span>
                    <span style="margin-left: 10px;">부산광역시 부산진구 중앙대로 103 그린타워 13층</span>
                    <span style="margin-left: 10px;">사업자등록번호 : 123-45-12345</span>

                    <div style="margin-top: 3px;">
                        <span>전자금융거래 분쟁 담당 : 1234-1234(365일 09:00~18:00)</span>
                    </div>
                </div>

            </div>

        </footer>



</body>
<script src="/kmarket/inc/js/complete.js"></script>
<script src="/kmarket/inc/js/list.js"></script>
<script src="/kmarket/inc/js/index.js"></script>

</html>