<div th:replace="~{product/_head.html}"></div>
        <div class="main">
            <h1>결제하기</h1>

            <section class="checkout-section">
                <h2>받는 분 정보</h2>
                <table class="info-table">
                    <tbody>
                        <tr>
                            <th>배송지 정보</th>
                            <td>
                                <div class="recipient-info-inputs">
                                    <span>이름: </span>
                                    <input type="text" id="recipientName" th:value="${memberDTO.getMem_name()}">
                                    <span>전화번호: </span>
                                    <input type="text" id="recipientHp" th:value="${memberDTO.getMem_hp()}">
                                </div>

                                <p id="address-display"
                                   th:text="${memberDTO.getMem_zip() != null ? '[' + memberDTO.getMem_zip() + '] ' + memberDTO.getMem_addr1() : '배송지 정보가 없습니다.'}">
                                </p>

                                <input type="text" id="mem_addr2_input" th:value="${memberDTO.getMem_addr2()}">
                                <br>
                                <button type="button" id="change-address-btn">배송지 변경</button>

                                <input type="hidden" id="mem_zip" name="mem_zip" th:value="${memberDTO.getMem_zip()}">
                                <input type="hidden" id="mem_addr1" name="mem_addr1" th:value="${memberDTO.getMem_addr1()}">
                                <input type="hidden" id="mem_addr2" name="mem_addr2" th:value="${memberDTO.getMem_addr2()}">
                            </td>
                        </tr>
                        <tr>
                            <th>택배배송 요청사항</th>
                            <td>
                                <select>
                                    <option>배송기사님께 전달되는 메시지입니다. 선택해 주세요.</option>
                                    <option>부재 시 경비실에 맡겨주세요.</option>
                                    <option>부재 시 문 앞에 놓아주세요.</option>
                                    <option>배송 전 연락주세요.</option>

                                </select>
                                <p><input type="checkbox" id="saveMsg" checked> 다음 배송에도 계속 사용</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section class="checkout-section">
                <h2 th:text="${'주문상품: ' + cartDTOList.size() + '개'}">주문상품: 3개</h2>
                <div class="order-item-list">
                    <article class="order-item" th:each="cartDTO : ${cartDTOList}"
                                                 th:data-cart-id="${cartDTO.getCart_no()}"
                                                 th:data-prod-no="${cartDTO.getProd_no()}"
                                                 th:data-quantity="${cartDTO.getCart_item_cnt()}"
                                                 th:data-option="${cartDTO.getCart_option()}">

                        <img th:src="@{${cartDTO.getProductDTO().getF_name()}}" alt="">
                        <div class="order-item-info">
                            <p class="brand" th:text="${cartDTO.getProductDTO().getProd_company()}">마스마룰즈</p>
                            <p class="name" th:text="${cartDTO.getProductDTO().getProd_name()}">마스마룰즈 스트랩파우치 모음전 VER.3</p>
                            <p class="option" id="productOption" th:text="${cartDTO.getCart_option()}">옵션: SP_체커보드</p>
                        </div>
                        <div class="order-item-price">
                            <p class="sale-price" th:text="${#numbers.formatDecimal(cartDTO.getProductDTO().getRealPrice() * cartDTO.getCart_item_cnt(), 0, 'COMMA', 0, 'POINT')} + '원'">13,260원</p>
                            <p class="original-price" th:text="'배송비: ' + ${#numbers.formatDecimal(cartDTO.getProductDTO().getProd_deliv_price(), 0, 'COMMA', 0, 'POINT')} + '원'">15,600원</p>
                            <p class="original-price" th:text="'포인트적립금: ' + ${#numbers.formatDecimal(cartDTO.getProductDTO().getProd_point(), 0, 'COMMA', 0, 'POINT')} + 'P'">15,600원</p>
                            <p class="quantity" th:text="'수량 ' + ${cartDTO.getCart_item_cnt()} + '개'">수량 1개</p>
                        </div>
                    </article>
                </div>
            </section>

            <section class="checkout-section">
                <h2>할인정보</h2>
                <table class="info-table">
                    <tbody>
                        <tr>
                            <th>상품할인</th>
                            <td id="productDiscount" th:data-price="${saleprice}"
                                th:text="'-' + ${#numbers.formatDecimal(saleprice, 0, 'COMMA', 0, 'POINT')} + '원'">-13,270원</td>
                        </tr>
                        <tr>
                            <th>포인트할인</th>
                            <td>
                        <span th:data-total-points="${totalPoint}"
                              th:text="'현재 포인트: ' + ${#numbers.formatDecimal(totalPoint, 0, 'COMMA', 0, 'POINT')} + 'P'"></span>
                                <input type="text" class="salePointInput" id="pointsToUseInput" placeholder="0">
                                <button type="button" id="usePointsBtn">사용하기</button>
                            </td>
                        </tr>
                        <tr>
                            <th>쿠폰할인</th>
                            <td>
                                <select id="couponSelect">
                                    <th:block th:if="${sysCouponDTOList == null || sysCouponDTOList.size() == 0}">
                                        <option value="">쿠폰이 없습니다.</option>
                                    </th:block>
                                    <th:block th:unless="${sysCouponDTOList == null || sysCouponDTOList.size() == 0}">
                                        <option value="" data-cp-type="0" data-cp-value="0" data-cp-min-price="0">사용할 쿠폰을 선택해주세요.</option>
                                        <th:block th:each="coupon : ${sysCouponDTOList}">
                                            <option th:value="${coupon.getCp_code()}"
                                                    th:text="${coupon.getCp_name()} + '(' +${#numbers.formatDecimal(coupon.getCp_min_price(), 0, 'COMMA', 0, 'POINT')}
                                                    + '원 이상 구매시 사용가능) '"
                                                    th:data-cp-type="${coupon.getCp_type()}"
                                                    th:data-cp-value="${coupon.getCp_value()}"
                                                    th:data-cp-min-price="${coupon.getCp_min_price()}">
                                            </option>
                                        </th:block>
                                    </th:block>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section class="checkout-section">
                <h2>결제방법</h2>
                <div class="payment-method-options">
                    <div class="payment-method-option">
                        <label><input type="radio" name="payment" checked> <strong>신용카드</strong></label>
                    </div>
                    <div class="payment-method-option">
                        <label><input type="radio" name="payment"> <strong>체크카드</strong></label>
                    </div>
                    <div class="payment-method-option">
                        <label><input type="radio" name="payment"> <strong>계좌이체</strong></label>
                    </div>
                    <div class="payment-method-option">
                        <label><input type="radio" name="payment"> <strong>무통장입금</strong></label>
                    </div>
                    <div class="payment-method-option">
                        <label><input type="radio" name="payment"> <strong>휴대폰결제</strong></label>
                    </div>
                    <div class="payment-method-option">
                        <span><label><input type="radio" name="payment"> <strong>카카오페이</strong></label></span>
                        <span><img th:src="@{/image/kakaopay.png}" id="kakao"></span>
                    </div>
                </div>
            </section>

            <form th:action="@{/product/complete}" method="post" id="orderForm">
                <input type="hidden" name="totalPoint" th:value="${totalPoint}">
                <input type="hidden" name="saleprice" th:value="${saleprice}">
                <input type="hidden" name="totalprice" th:value="${totalprice}">
                <input type="hidden" name="totaldeliv" th:value="${totaldeliv}">
                <div class="final-agreement">
                    <button type="submit" class="final-payment-btn" id="mainOrderBtn">결제하기</button>
                </div>

            </form>
        </div>
    </div>

    <div class="final-order">
        <div class="inner">
            <h3>최종 결제 정보</h3>
            <div class="summary-item">
                <span class="label">주문금액</span>
                <span class="value" id="summaryOrderAmount" th:data-price="${totalprice}" th:text="${#numbers.formatDecimal(totalprice, 0, 'COMMA', 0, 'POINT') + '원'}">90,700원</span>
            </div>
            <div class="summary-item">
                <span class="label">배송비</span>
                <span class="value" id="summaryShippingFee" th:data-price="${totaldeliv}" th:text="'+ ' + ${#numbers.formatDecimal(totaldeliv, 0, 'COMMA', 0, 'POINT') + '원'}">+ 6,000원</span>
            </div>
            <div class="summary-item">
                <span class="label">할인금액</span>
                <span class="value" id="summaryTotalDiscount">- 13,270원</span>
            </div>
            <div class="summary-item sub-item">
                <span class="label">ㄴ 상품할인</span>
                <span class="value" id="summaryProductDiscount" th:data-price="${saleprice}" th:text="'- ' + ${#numbers.formatDecimal(saleprice, 0, 'COMMA', 0, 'POINT') + '원'}">- 13,270원</span>
            </div>
            <div class="summary-item sub-item">
                <span class="label">ㄴ 포인트 사용</span>
                <span class="value" id="summaryPointsDiscount">- 0원</span>
            </div>
            <div class="summary-item sub-item">
                <span class="label">ㄴ 쿠폰 사용</span>
                <span class="value" id="summaryCouponDiscount">- 0원</span>
            </div>

            <div class="summary-item summary-total">
                <span class="label">결제예정금액</span>
                <span class="value" id="summaryFinalPayment">83,430원</span>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{product/_tail.html}"></div>