<div th:replace ="~{cs/_head.html}"></div>
<main>
<div>
    <p>SHOPPLY가 도와드릴게요!</p>
</div>

<section class="notice">
    <header-sec>
        <h3>공지사항</h3>
        <a th:href="@{/cs/notice/list}">전체보기</a>
    </header-sec>
<ul class="notice-list">
    <li th:each="notice : ${noticeList}">
        <a th:href="@{/cs/notice/view(cs_no=${notice.cs_no})}">
            <span class="title" th:text="${notice.cs_title}"></span></a>
        <span class="date" th:text="${notice.cs_rdate}"></span>
    </li>
</ul>
</section>
<section class="faq">
    <header-sec>
        <h3>자주하는질문</h3>
        <a th:href="@{/cs/faq/list}">전체보기</a>
    </header-sec>
    <ul class="faq-list">
        <li>
            <a th:href="@{/cs/faq/list(cat1='회원', cat2='가입')}"><img th:src="@{/image/member.png}" alt="">
                <span class="category-text">회원</span>
            </a>
        </li>
        <li>
            <a th:href="@{/cs/faq/list(cat1='쿠폰/혜택/이벤트', cat2='이벤트')}"><img th:src="@{/image/coupon.png}" alt="">
                <span class="category-text">쿠폰/이벤트</span>
            </a>
        </li>
        <li>
            <a th:href="@{/cs/faq/list(cat1='주문/결제', cat2='결제')}"><img th:src="@{/image/order.png}" alt="">
                <span class="category-text">주문/결제</span>
            </a>
        </li>
        <li>
            <a th:href="@{/cs/faq/list(cat1='배송', cat2='당일배송')}"><img th:src="@{/image/delivery.png}" alt="">
                <span class="category-text">배송</span>
            </a>
        </li>
        <li>
            <a th:href="@{/cs/faq/list(cat1='취소/반품/교환', cat2='교환 AS신청/철회')}"><img th:src="@{/image/refund.png}" alt="">
                <span class="category-text">취소/반품/교환</span>
            </a>
        </li>
        <li>
            <a th:href="@{/cs/faq/list(cat1='안전거래', cat2='게시물 정책위반')}"><img th:src="@{/image/payment.png}" alt="">
                <span class="category-text">안전거래</span>
            </a>
        </li>
    </ul>
</section>

<section class="qna">
    <header-sec>
        <h3>문의하기</h3>
        <a th:href="@{/cs/qna/list}">전체보기</a>
    </header-sec>
    <ul class="qna-list">
        <li th:each="qna : ${qnaList}">
            <span class="type" th:text="'[' + ${qna.q_cate1} + '/' + ${qna.q_cate2} + ']'"></span>
            <a th:href="@{/cs/qna/view(qNo=${qna.q_no})}">
                <span class="title" th:text="${qna.q_title}"></span>
            </a>
            <span class="writer" th:text="${qna.maskedMemId}"></span>
            <span class="date" th:text="${qna.q_rdate}"></span>
        </li>
        <li><a th:href="@{/cs/qna/write}" style="text-decoration: none"> 문의글 작성 ></a></li>
    </ul>
</section>
<section class="counseling">
    <header-sec>
        <h3>1:1 상담안내</h3>
    </header-sec>
    <div class="counseling-content">
    <div class="user-guide">
        <h4>이용안내</h4>
        <p class="member-type">일반회원/비회원</p>
        <p class="contact">
            <span class="ph">1566-0001</span>
            <span class="time">(평일 09:00 ~ 18:00)</span>
        </p>
        <p class="member-type">스마일클럽 전용</p>
        <p class="contact">
            <span class="ph">1566-0002</span>
            <span class="time">(365일 09:00 ~ 18:00)</span>
        </p>
    </div>
    <div class="seller-guide">
        <h4>판매상담 이용안내</h4>
        <p class="member-type">판매고객</p>
        <p class="contact">
            <span class="ph">1566-5700</span>
            <span class="time">(평일 09:00 ~ 18:00)</span>
        </p>
        <h4>판매자 가입 및 서류 접수 안내</h4>
    </div>
    </div>
    </section>
</main>
<div th:replace ="~{cs/_tail.html}"></div>