<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cs main</title>

    <link rel="stylesheet" href="../inc/css/index.css">
    <link rel="stylesheet" href="../inc/css/cs.css">

    <!-- jQuery (bxSlider 필요시 대비) -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>

<body>
<header>
    <div class="header-right login-menu">
      <a href="#">로그인</a> | 
      <a href="#">회원가입</a> | 
      <a href="#">마이페이지</a> |
      <a href="#">장바구니</a>
    </div>
    <!-- 로고 -->
    <div class="header-left">
      <img src="/kmarket/inc/image/logo.jpg" alt="로고" class="logo">
    </div>
  </div>
</header>

<main>
<div>
    <p>SHOPPLY가 도와드릴게요!</p>
</div>

<section class="notice">
    <header-sec>
        <h3>공지사항</h3>
        <a href="#">전체보기</a>
    </header-sec>
<ul class="notice-list">
<!-- DB 데이터 반복 -->
    <li>
        <a href="#"><span class="title">[안내] 서버 점검 안내</span></a>
        <span class="date">2025-09-19</span>
    </li>
    <li>
        <a href="#"><span class="title">[안내] 서버 점검 안내</span></a>
        <span class="date">2025-09-18</span>
    </li>
    <li>
        <a href="#">[안내] 서버 점검 안내</a>
        <span class="date">2025-09-19</span>
    </li>
    <li>
        <a href="#"><span class="title">[안내] 서버 점검 안내</span></a>
        <span class="date">2025-09-18</span>
    </li>
    <li>
        <a href="#"><span class="title">[안내] 서버 점검 안내</span></a>
        <span class="date">2025-09-19</span>
    </li>
    </ul>
</section>
<section class="faq">
    <header-sec>
        <h3>자주하는질문</h3>
        <a href="#">전체보기</a>
    </header-sec>
<ul class="faq-list">
    <li>
        <a href="#"><img src="" alt="">
            <span class="category-text">회원</span>
        </a>
    </li>
    <li>
        <a href="#"><img src="" alt="">
            <span class="category-text">쿠폰/이벤트</span>
        </a>
    </li>
    <li>
        <a href="#"><img src="" alt="">
            <span class="category-text">주문/결제</span>
        </a>
    </li>
    <li>
        <a href="#"><img src="" alt="">
            <span class="category-text">배송</span>
        </a>
    </li>
    <li>
        <a href="#"><img src="" alt="">
            <span class="category-text">취소/반품/환불</span>
        </a>
    </li>
    <li>
        <a href="#"><img src="" alt="">
            <span class="category-text">안전결제</span>
        </a>
    </li>
</ul>
</section>

<section class="qna">
    <header-sec>
        <h3>문의하기</h3>
        <a href="#">전체보기</a>
    </header-sec>
    <ul class="qna-list">
        <li>
            <span class="type">[회원]</span>
            <a href="#"><span class="title">개인회원과 법인회원에 차이가 있나요?</span></a>
            <span class="writer">chchchch</span>
            <span class="date">2025.09.19</span>
        </li>
        <li>
            <span class="type">[쿠폰/이벤트]</span>
            <a href="#"><span class="title">스마일포인트는 어디에 사용하나요?</span></a>
            <span class="writer">chchchch</span>
            <span class="date">2025.09.19</span>
        </li>
        <li>
            <span class="type">[회원]</span>
            <a href="#"><span class="title">개인회원과 법인회원에 차이가 있나요?</span></a>
            <span class="writer">chchchch</span>
            <span class="date">2025.09.19</span>
        </li>
        <li>
            <span class="type">[회원]</span>
            <a href="#"><span class="title">개인회원과 법인회원에 차이가 있나요?</span></a>
            <span class="writer">chchchch</span>
            <span class="date">2025.09.19</span>
        </li>
        <li>
            <span class="type">[회원]</span>
            <a href="#"><span class="title">개인회원과 법인회원에 차이가 있나요?</span></a>
            <span class="writer">chchchch</span>
            <span class="date">2025.09.19</span>
        </li>
    </ul>
</section>
<section class="counseling">
    <header-sec>
        <h3>1:1 상담안내</h3>
    </header-sec>
    <div class="counseling-content">
    <div class="user-guide">
        <h4>이용안내</h4>
        <p class="member-type">일반회원/비회원</p>
        <p class="contact">
            <span class="ph">1566-0001</span>
            <span class="time">(평일 09:00 ~ 18:00)</span>
        </p>
        <p class="member-type">스마일클럽 전용</p>
        <p class="contact">
            <span class="ph">1566-0002</span>
            <span class="time">(365일 09:00 ~ 18:00)</span>
        </p>
    </div>
    <div class="seller-guide">
        <h4>판매상담 이용안내</h4>
        <p class="member-type">판매고객</p>
        <p class="contact">
            <span class="ph">1566-5700</span>
            <span class="time">(평일 09:00 ~ 18:00)</span>
        </p>
        <h4>판매자 가입 및 서류 접수 안내</h4>
    </div>
    </div>
    </section>
</main>
<footer>
<div class="top-footer">
<div class="footer-wrapper">
    <div class="top-f">
    <a href="/kmarket/company/index.html" style="margin-left: 0px;">회사소개</a> |
    <a href="#">서비스이용약관</a> |
    <a href="#">개인정보처리방침</a> |
    <a href="#">전자금융거래약관</a>
    </div>
</div>
</div>


<div class="footer-wrapper">
<h3 class="cpname">(주)샵플리닷컴</h3>
<div class="call-cont">
    <img src="/kmarket/inc/image/call3.png" alt="" style="height: 45px; margin-top: 5px;">
    <span class="tel">1234-5678</span>
    <span class="time"> (평일 09:00~18:00)</span>
</div>
<div style="color: gray; margin-top: 15px">
    <span>대표이사 : 홍길동</span>
    <span style="margin-left: 10px;">부산광역시 부산진구 중앙대로 103 그린타워 13층</span>
    <span style="margin-left: 10px;">사업자등록번호 : 123-45-12345</span>

    <div style="margin-top: 3px;">
    <span>전자금융거래 분쟁 담당 : 1234-1234(365일 09:00~18:00)</span>
    </div>
</div>
</div>
</footer>


</body>
</html>