<div th:replace="~{member/find/_head.html}"></div>
<div class="container">
    <div class="wrapper">
        <!-- 전체 카테고리 누르면 튀어나오는 메뉴창 -->
        <div id="categoryBox" class="category-box">
            <ul class="main-menu"
                style="list-style-type: none; padding-left: 0; margin: 0;">

                <li th:each="cate1, iterStat : ${cate1DTOList}"
                    th:data-target="|menu${iterStat.count}|"
                    th:class="${iterStat.index == 0} ? 'active' : ''">
                    <span th:text="${cate1.cate1_name}">패션의류</span>
                </li>
            </ul>

            <div class="sub-menu">
                <ul th:each="cate1, iterStat : ${cate1DTOList}"
                    th:id="|menu${iterStat.count}|"
                    class="submenu-content"
                    th:style="${iterStat.index > 0} ? 'display:none;'">

                    <li th:each="cate2 : ${cate1.subCategories}">
                        <a th:href="@{/product/list/{cate2No}(cate2No=${cate2.cate2_no})}"
                           th:text="${cate2.cate2_name}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      <main>
          <div class="password-change-container">
            <h2 class="password-change-title">비밀번호 변경</h2>

            <form class="password-change-form" method="post" th:action="@{/member/find/changePassword}">
              <table class="password-table">
                <tr>
                  <th>아이디</th>
                  <td>
                      <input type="hidden" name="mem_id" th:value="${mem_id}">
                    <span class="user-id" th:text="${mem_id}"></span>
                  </td>
                </tr>
                <tr>
                  <th>새 비밀번호</th>
                  <td>
                    <div class="password-input-wrapper">
                      <input type="password" name="mem_pass" placeholder="새 비밀번호 입력" class="password-input">
                      <span class="password-hint-inline">사용 가능한 비밀번호 입니다.</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>새 비밀번호 확인</th>
                  <td>
                    <input type="password" name="mem_pass2" placeholder="새 비밀번호 확인 입력" class="password-input">
                  </td>
                </tr>
              </table>

              <div class="password-notice">
                <p>비밀번호를 변경해 주세요.</p>
                <p>영문, 숫자, 특수문자를 사용하여 8자 이상 입력해 주세요.</p>
              </div>

              <div class="password-buttons">
                <button type="button" class="btn-password-cancel">취소</button>
                <button type="submit" class="btn-password-submit">다음</button>
              </div>
            </form>
          </div>
      </main>
    </div>
</div>
<script th:src="@{/js/member_password.js}"></script>
<div th:replace="~{member/find/_tail.html}"></div>