<div th:replace="~{member/find/_head.html}"></div>
<div class="container">
    <div class="wrapper">
        <!-- 전체 카테고리 누르면 튀어나오는 메뉴창 -->
        <div id="categoryBox" class="category-box">
            <ul class="main-menu"
                style="list-style-type: none; padding-left: 0; margin: 0;">

                <li th:each="cate1, iterStat : ${cate1DTOList}"
                    th:data-target="|menu${iterStat.count}|"
                    th:class="${iterStat.index == 0} ? 'active' : ''">
                    <span th:text="${cate1.cate1_name}">패션의류</span>
                </li>
            </ul>

            <div class="sub-menu">
                <ul th:each="cate1, iterStat : ${cate1DTOList}"
                    th:id="|menu${iterStat.count}|"
                    class="submenu-content"
                    th:style="${iterStat.index > 0} ? 'display:none;'">

                    <li th:each="cate2 : ${cate1.subCategories}">
                        <a th:href="@{/product/list/{cate2No}(cate2No=${cate2.cate2_no})}"
                           th:text="${cate2.cate2_name}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      <main>
        <div class="id-result-container">
          <h2 class="result-title">아이디 찾기 결과</h2>

          <div th:if="${member != null}" class="result-box">
              <table class="result-table">
                  <tr>
                      <th>이름</th>
                      <td th:text="${member.mem_name}"></td>
                  </tr>
                  <tr>
                      <th>아이디</th>
                      <td th:text="${member.mem_id}"></td>
                  </tr>
                  <tr>
                      <th>이메일</th>
                      <td th:text="${member.mem_email}"></td>
                  </tr>
                  <tr>
                      <th>가입일</th>
                      <td th:text="${member.mem_rdate}"></td>
                  </tr>
              </table>

              <p class="result-notice">고객님의 정보와 일치하는 아이디 입니다.</p>

              <div class="result-buttons">
                  <button type="button" class="btn-result-cancel" th:onclick="|location.href='@{/member/login}'|">로그인</button>
                  <button type="button" class="btn-result-submit" th:onclick="|location.href='@{/member/find/password}'|">비밀번호 찾기</button>
              </div>
          </div>
            <div th:if="${member == null}" class="error-box">
                <p>회원 정보를 찾을 수 없습니다.</p>
                <a th:href="@{/member/find/userId}" class="btn-back">다시 시도</a>
            </div>
      </div>
      </main>
    </div>
</div>
<div th:replace="~{member/find/_tail.html}"></div>