<div th:replace="~{member/find/_head.html}"></div>
<div class="container">
    <div class="wrapper">
      <!-- 전체 카테고리 누르면 튀어나오는 메뉴창 -->
      <div id="categoryBox" class="category-box">
        <div class="main-menu">
          <ul>
            <li data-target="menu1">패션/의류/뷰티</li>
            <li data-target="menu2">패션잡화</li>
            <li data-target="menu3">명품</li>
            <li data-target="menu4">뷰티</li>
          </ul>
        </div>
        <div class="sub-menu">
          <ul id="menu1" class="submenu-content">
            <li><a href="#">여성의류</a></li>
            <li><a href="#">남성의류</a></li>
            <li><a href="#">아동복</a></li>
          </ul>
          <ul id="menu2" class="submenu-content" style="display:none;">
            <li><a href="#">가방</a></li>
            <li><a href="#">신발</a></li>
          </ul>
          <ul id="menu3" class="submenu-content" style="display:none;">
            <li><a href="#">해외 명품</a></li>
          </ul>
          <ul id="menu4" class="submenu-content" style="display:none;">
            <li><a href="#">스킨케어</a></li>
            <li><a href="#">메이크업</a></li>
          </ul>
        </div>
      </div>
      <main>
        <div class="id-result-container">
          <h2 class="result-title">아이디 찾기 결과</h2>

          <div class="result-box">
              <table class="result-table">
                  <tr>
                      <th>이름</th>
                      <td>홍길동</td>
                  </tr>
                  <tr>
                      <th>아이디</th>
                      <td>honggildong</td>
                  </tr>
                  <tr>
                      <th>이메일</th>
                      <td>honggildong@gmail.com</td>
                  </tr>
                  <tr>
                      <th>가입일</th>
                      <td>2022-11-16 10:20:22</td>
                  </tr>
              </table>

              <p class="result-notice">고객님의 정보와 일치하는 아이디 입니다.</p>

              <div class="result-buttons">
                  <button type="button" class="btn-result-cancel">로그인</button>
                  <button type="button" class="btn-result-submit">비밀번호 찾기</button>
              </div>
          </div>
      </div>
      </main>
    </div>
</div>
<div th:replace="~{member/find/_tail.html}"></div>