<div th:replace="~{admin/cs/notice/_head.html}"></div>

<div class="main">
    <div class="middle main-content">
        <div class="main-common">
            <div class="main-head">
                <div>
                    <h3>자주묻는질문 보기</h3>
                </div>
                <div class="main-head-right">
                    <a href="#">HOME</a>
                    <div>&nbsp;>&nbsp;</div>
                    <a href="#">고객센터</a>
                    <div>&nbsp;>&nbsp;</div>
                    <a href="#" class="nav-last">자주묻는질문</a>
                </div>
            </div>

            <div class="main-content-top"></div>

            <main>
                <!--  FAQ 상세 내용 -->
                <table class="notice-view-table_2">
                    <tr>
                        <th>유형</th>
                        <td th:text="${faq.cs_faq_cate1 + ' - ' + faq.cs_faq_cate2}"></td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td th:text="${faq.cs_faq_title}"></td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td class="notice-content_2" th:utext="${#strings.replace(faq.cs_faq_content, '\n', '<br/>')}"></td>
                    </tr>
                    <tr>
                        <th>조회수</th>
                        <td th:text="${faq.cs_faq_hit}"></td>
                    </tr>
                    <tr>
                        <th>작성일</th>
                        <td th:text="${faq.cs_faq_rdate}"></td>
                    </tr>
                </table>

                <!-- ✅ 버튼 영역 -->
                <div class="notice-buttons_2">
                    <!-- 삭제 -->
                    <form th:action="@{'/admin/cs/faq/delete/' + ${faq.cs_faq_no}}" method="get" style="display:inline;">
                        <button type="submit" class="notice-btn_2 btn-delete_2">삭제</button>
                    </form>

                    <!-- 수정 -->
                    <a th:href="@{'/admin/cs/faq/modify/' + ${faq.cs_faq_no}}" class="notice-btn_2 btn-edit_2">수정</a>

                    <!-- 목록 -->
                    <button type="button"
                            class="notice-btn_2 btn-list_2"
                            th:onclick="'location.href=\'' + @{/admin/cs/faq/list} + '\';'">
                        목록
                    </button>
                </div>
            </main>
        </div>
    </div>
</div>

<div th:replace="~{admin/coupon/_tail.html}"></div>
</body>
</html>
