<!-- _tail.hmtl-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <!-- ✅ 이거 추가 -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/my.css}">
    <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
</head>

<body class="logged-in">
<header>
    <div class="main-header">
        <div class="header-left">
            <a th:href="@{/index}">
                <img th:src="@{/image/logo.jpg}" alt="SHOPLY 로고" class="logo">
            </a>
            <span>쇼핑의 플레이리스트</span>
        </div>
        <div class="header-right login-menu">

            <!-- 로그인 안 한 경우 -->
            <sec:authorize access="!isAuthenticated()">
                <a th:href="@{/member/login}">로그인</a> |
                <a th:href="@{/member/join}">회원가입</a> |
            </sec:authorize>

            <!-- 로그인 한 경우 -->
            <sec:authorize access="isAuthenticated()">
                <span sec:authentication="name">사용자</span>님 |
                <a th:href="@{/member/logout}">로그아웃</a> |
                <a th:href="@{/my/home}">마이페이지</a> |
                <a th:href="@{/cart}">장바구니</a> |
            </sec:authorize>

            <a th:href="@{/cs}">고객센터</a>
        </div>
    </div>
</header>
