<div th:replace="~{member/_head.html}"></div>
<div class="container">
    <div class="wrapper">
      <!-- 전체 카테고리 누르면 튀어나오는 메뉴창 -->
      <div id="categoryBox" class="category-box">
        <div class="main-menu">
          <ul>
            <li data-target="menu1">패션/의류/뷰티</li>
            <li data-target="menu2">패션잡화</li>
            <li data-target="menu3">명품</li>
            <li data-target="menu4">뷰티</li>
          </ul>
        </div>
        <div class="sub-menu">
          <ul id="menu1" class="submenu-content">
            <li><a href="#">여성의류</a></li>
            <li><a href="#">남성의류</a></li>
            <li><a href="#">아동복</a></li>
          </ul>
          <ul id="menu2" class="submenu-content" style="display:none;">
            <li><a href="#">가방</a></li>
            <li><a href="#">신발</a></li>
          </ul>
          <ul id="menu3" class="submenu-content" style="display:none;">
            <li><a href="#">해외 명품</a></li>
          </ul>
          <ul id="menu4" class="submenu-content" style="display:none;">
            <li><a href="#">스킨케어</a></li>
            <li><a href="#">메이크업</a></li>
          </ul>
        </div>
      </div>
      <main>
        <!-- 회원가입 선택 화면 -->
        <div class="signup-selection">
          <div class="join-header">
            <h2>대한민국 1등 온라인 인터넷 쇼핑</h2>
            <h1>SHOPLY에 오신 것을 환영합니다.</h1>
          </div>

          <div class="signup-options">
            <!-- 일반회원가입 -->
            <div class="signup-card">
              <div class="card-header red">
                <h3>일반회원가입</h3>
              </div>
              <div class="card-content">
                <h4>개인구매회원 (외국인포함)</h4>
                <p>만 14 세이상가능</p>
                <a th:href="@{/member/signup(type=general)}" class="signup-btn">회원가입</a>
              </div>
            </div>

            <!-- 판매회원가입 -->
            <div class="signup-card">
              <div class="card-header blue">
                <h3>판매회원가입</h3>
              </div>
              <div class="card-content">
                <h4>사업자판매회원</h4>
                <p>사업자등록증을 보유한회원</p>
                <a th:href="@{/member/signup(type=seller)}" class="signup-btn">회원가입</a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
</div>
<div th:replace="~{member/_tail.html}"></div>
