<div th:replace="~{member/_head.html}"></div>
<div class="container">
    <div class="wrapper">
        <!-- 전체 카테고리 누르면 튀어나오는 메뉴창 -->
        <div id="categoryBox" class="category-box">
            <ul class="main-menu"
                style="list-style-type: none; padding-left: 0; margin: 0;">

                <li th:each="cate1, iterStat : ${cate1DTOList}"
                    th:data-target="|menu${iterStat.count}|"
                    th:class="${iterStat.index == 0} ? 'active' : ''">
                    <span th:text="${cate1.cate1_name}">패션의류</span>
                </li>
            </ul>

            <div class="sub-menu">
                <ul th:each="cate1, iterStat : ${cate1DTOList}"
                    th:id="|menu${iterStat.count}|"
                    class="submenu-content"
                    th:style="${iterStat.index > 0} ? 'display:none;'">

                    <li th:each="cate2 : ${cate1.subCategories}">
                        <a th:href="@{/product/list/{cate2No}(cate2No=${cate2.cate2_no})}"
                           th:text="${cate2.cate2_name}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      <main>
        <!-- 회원가입 선택 화면 -->
        <div class="signup-selection">
          <div class="join-header">
            <h2>대한민국 1등 온라인 인터넷 쇼핑</h2>
            <h1>SHOPLY에 오신 것을 환영합니다.</h1>
          </div>

          <div class="signup-options">
            <!-- 일반회원가입 -->
            <div class="signup-card">
              <div class="card-header red">
                <h3>일반회원가입</h3>
              </div>
              <div class="card-content">
                <h4>개인구매회원 (외국인포함)</h4>
                <p>만 14 세이상가능</p>
                <a th:href="@{/member/signup(type=general)}" class="signup-btn">회원가입</a>
              </div>
            </div>

            <!-- 판매회원가입 -->
            <div class="signup-card">
              <div class="card-header blue">
                <h3>판매회원가입</h3>
              </div>
              <div class="card-content">
                <h4>사업자판매회원</h4>
                <p>사업자등록증을 보유한회원</p>
                <a th:href="@{/member/signup(type=seller)}" class="signup-btn">회원가입</a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
</div>
<div th:replace="~{member/_tail.html}"></div>
