<div th:replace="~{member/_head.html}"></div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<div class="container">
    <div class="wrapper">
        <!-- 전체 카테고리 누르면 튀어나오는 메뉴창 -->
        <div id="categoryBox" class="category-box">
            <ul class="main-menu"
                style="list-style-type: none; padding-left: 0; margin: 0;">

                <li th:each="cate1, iterStat : ${cate1DTOList}"
                    th:data-target="|menu${iterStat.count}|"
                    th:class="${iterStat.index == 0} ? 'active' : ''">
                    <span th:text="${cate1.cate1_name}">패션의류</span>
                </li>
            </ul>

            <div class="sub-menu">
                <ul th:each="cate1, iterStat : ${cate1DTOList}"
                    th:id="|menu${iterStat.count}|"
                    class="submenu-content"
                    th:style="${iterStat.index > 0} ? 'display:none;'">

                    <li th:each="cate2 : ${cate1.subCategories}">
                        <a th:href="@{/product/list/{cate2No}(cate2No=${cate2.cate2_no})}"
                           th:text="${cate2.cate2_name}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      <main>
          <div class="signup-container">
              <div class="signup-header">
                판매자 회원가입
              </div>
              <div class="signup-form">
                <form th:action="@{/member/registerSeller}" method="post">
                    <input type="hidden" name="mem_level" value="2">
                    <input type="hidden" name="mem_rank" value="">
                    <input type="hidden" name="mem_stat" value="ACTIVE">

                  <div class="form-row">
                    <div class="form-label">아이디</div>
                    <div class="form-input">
                        <input type="text" name="mem_id" placeholder="영문, 숫자 4~12자 설정">
                        <button type="button" class="btn-check" onclick="checkIdDuplicate()">중복 확인</button>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-label">비밀번호</div>
                    <div class="form-input">
                      <input type="password" name="mem_pass" placeholder="영문, 숫자, 특수문자 8~12자">
                    </div>
                  </div>

                  <div class="form-row section-end">
                    <div class="form-label">비밀번호확인</div>
                    <div class="form-input">
                      <input type="password" name="mem_pass2" placeholder="">
                    </div>
                  </div>

                  <div class="form-row section-start">
                    <div class="form-label">회사명</div>
                    <div class="form-input">
                      <input type="text" name="corp_name" placeholder="회사명입력 예) (주)샵플리">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-label">대표</div>
                    <div class="form-input">
                      <input type="text" name="mem_name" placeholder="대표입력">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-label">사업자등록번호</div>
                    <div class="form-input">
                      <input type="text" name="corp_reg_hp" placeholder="사업자입력" style="margin-right: 10px;">
                      <span style="color: #666; font-size: 12px;"> - 제외 12 자리 입력</span>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-label">통신판매업번호</div>
                    <div class="form-input">
                      <input type="text" name="corp_tel_hp" placeholder="통신판매업">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-label">전화번호</div>
                    <div class="form-input">
                        <input type="text" name="mem_hp" placeholder="전화번호입력" style="margin-right: 10px;">
                        <span style="color: #666; font-size: 12px;"> - 제외 입력</span>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-label">팩스</div>
                    <div class="form-input">
                        <input type="text" name="corp_fax" placeholder="팩스번호입력" style="margin-right: 10px;">
                        <span style="color: #666; font-size: 12px;"> 선택 입력</span>
                    </div>
                  </div>

                  <div class="address-section">
                    <div class="address-label">주소</div>
                    <div class="address-inputs">
                      <input type="text" name="mem_zip" id="mem_zip" placeholder="우편번호검색" readonly onclick="postCode()">
                      <input type="text" name="mem_addr1" id="mem_addr1" placeholder="기본주소 입력" readonly>
                      <input type="text" name="mem_addr2" id="mem_addr2" placeholder="상세주소 입력">
                    </div>
                  </div>

                  <div class="signup-submit">
                    <button type="submit" class="btn-signup">회원가입</button>
                  </div>
                </form>
              </div>
        </div>
      </main>
    </div>
</div>
<div th:replace="~{member/_tail.html}"></div>