<div th:replace="~{member/_head.html}"></div>
<div class="container">
    <div class="wrapper">
      <!-- 전체 카테고리 누르면 튀어나오는 메뉴창 -->
      <div id="categoryBox" class="category-box">
        <div class="main-menu">
          <ul>
            <li data-target="menu1">패션/의류/뷰티</li>
            <li data-target="menu2">패션잡화</li>
            <li data-target="menu3">명품</li>
            <li data-target="menu4">뷰티</li>
          </ul>
        </div>
        <div class="sub-menu">
          <ul id="menu1" class="submenu-content">
            <li><a href="#">여성의류</a></li>
            <li><a href="#">남성의류</a></li>
            <li><a href="#">아동복</a></li>
          </ul>
          <ul id="menu2" class="submenu-content" style="display:none;">
            <li><a href="#">가방</a></li>
            <li><a href="#">신발</a></li>
          </ul>
          <ul id="menu3" class="submenu-content" style="display:none;">
            <li><a href="#">해외 명품</a></li>
          </ul>
          <ul id="menu4" class="submenu-content" style="display:none;">
            <li><a href="#">스킨케어</a></li>
            <li><a href="#">메이크업</a></li>
          </ul>
        </div>
      </div>
      <main>
          <div class="signup-container">
              <div class="signup-header">
                판매자 회원가입
              </div>
              <div class="signup-form">
                <form th:action="@{/member/registerSeller}" method="post">
                    <input type="hidden" name="mem_level" value="2">
                    <input type="hidden" name="mem_stat" value="ACTIVE">

                  <div class="form-row">
                    <div class="form-label">아이디</div>
                    <div class="form-input">
                      <input type="text" name="mem_id" placeholder="">
                      <span class="input-help">영문, 숫자 4~12자 설정</span>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-label">비밀번호</div>
                    <div class="form-input">
                      <input type="password" name="mem_pass" placeholder="">
                      <span class="input-help">영문, 숫자, 특수문자 8~12자 설정</span>
                    </div>
                  </div>

                  <div class="form-row section-end">
                    <div class="form-label">비밀번호확인</div>
                    <div class="form-input">
                      <input type="password" name="mem_pass2" placeholder="">
                    </div>
                  </div>

                  <div class="form-row section-start">
                    <div class="form-label">회사명</div>
                    <div class="form-input">
                      <input type="text" name="corp_name" placeholder="회사명입력 예) (주)샵플리">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-label">대표</div>
                    <div class="form-input">
                      <input type="text" name="mem_name" placeholder="대표입력">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-label">사업자등록번호</div>
                    <div class="form-input">
                      <input type="text" name="corp_reg_hp" placeholder="사업자입력" style="margin-right: 10px;">
                      <span style="color: #666; font-size: 12px;">- 포함 12 자리 입력</span>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-label">통신판매업번호</div>
                    <div class="form-input">
                      <input type="text" name="corp_tel_hp" placeholder="통신판매업">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-label">전화번호</div>
                    <div class="form-input">
                      <input type="text" name="mem_hp" placeholder="전화번호입력">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-label">팩스</div>
                    <div class="form-input">
                      <input type="text" name="corp_fax" placeholder="팩스번호입력">
                    </div>
                  </div>

                  <div class="address-section">
                    <div class="address-label">주소</div>
                    <div class="address-inputs">
                      <input type="text" name="mem_zip" placeholder="우편번호입력 예) 대전특별시">
                      <input type="text" name="mem_addr1" placeholder="기본주소 입력">
                      <input type="text" name="mem_addr2" placeholder="상세주소 입력">
                    </div>
                  </div>

                  <div class="signup-submit">
                    <button type="submit" class="btn-signup">회원가입</button>
                  </div>
                </form>
              </div>
        </div>
      </main>
    </div>
</div>
<div th:replace="~{member/_tail.html}"></div>