<div th:replace="~{member/_head.html}"></div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<div class="container">
    <div class="wrapper">
      <!-- 전체 카테고리 누르면 튀어나오는 메뉴창 -->
      <div id="categoryBox" class="category-box">
        <div class="main-menu">
          <ul>
            <li data-target="menu1">패션/의류/뷰티</li>
            <li data-target="menu2">패션잡화</li>
            <li data-target="menu3">명품</li>
            <li data-target="menu4">뷰티</li>
          </ul>
        </div>
        <div class="sub-menu">
          <ul id="menu1" class="submenu-content">
            <li><a href="#">여성의류</a></li>
            <li><a href="#">남성의류</a></li>
            <li><a href="#">아동복</a></li>
          </ul>
          <ul id="menu2" class="submenu-content" style="display:none;">
            <li><a href="#">가방</a></li>
            <li><a href="#">신발</a></li>
          </ul>
          <ul id="menu3" class="submenu-content" style="display:none;">
            <li><a href="#">해외 명품</a></li>
          </ul>
          <ul id="menu4" class="submenu-content" style="display:none;">
            <li><a href="#">스킨케어</a></li>
            <li><a href="#">메이크업</a></li>
          </ul>
        </div>
      </div>
      <main>
         <div class="signup-container">
          <div class="signup-header">
            일반 회원가입
          </div>
          <div class="signup-form">
            <form th:action="@{/member/register}" method="post">
                <input type="hidden" name="mem_level" value="1">
                <input type="hidden" name="mem_rank" value="Family">
                <input type="hidden" name="mem_stat" value="ACTIVE">
                <div class="form-row">
                    <div class="form-label">아이디</div>
                    <div class="form-input">
                        <input type="text" name="mem_id" placeholder="영문, 숫자 4~12자 설정">
                        <button type="button" class="btn-check" onclick="checkIdDuplicate()">중복 확인</button>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-label">비밀번호</div>
                    <div class="form-input">
                      <input type="password" name="mem_pass" placeholder="영문, 숫자, 특수문자 8~12자 설정">
                    </div>
                </div>

                <div class="form-row section-end">
                    <div class="form-label">비밀번호확인</div>
                    <div class="form-input">
                        <input type="password" name="mem_pass2" placeholder="">
                    </div>
                </div>

                <div class="form-row section-start">
                    <div class="form-label">이름</div>
                    <div class="form-input">
                        <input type="text" name="mem_name" placeholder="이름입력">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-label">생년월일</div>
                    <div class="form-input">
                        <input type="date" name="mem_birth" id="mem_birth" style="width: 150px;">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-label">성별</div>
                    <div class="form-input">
                        <div class="radio-group">
                            <label><input type="radio" name="mem_gen" value="M"> 남</label>
                            <label><input type="radio" name="mem_gen" value="F"> 여</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">EMAIL</div>
                    <div class="form-input">
                        <input type="email" name="mem_email" placeholder="이메일입력">
                        <button type="button"  class="btn-check">이메일 인증</button>
                        <!--<button type="button"  class="btn-verify">이메일 인증</button>-->
                        <!--<input type="text" name="auth" placeholder="인증번호 입력" style="width: 100px; margin-left: 5px;" disabled>
                        <button type="button" class="btn-check" style="margin-left: 0" disabled>확인</button>-->
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">휴대폰</div>
                    <div class="form-input">
                        <input type="text" name="mem_hp" placeholder="휴대폰입력">
                        <button type="button" class="btn-check">중복 확인</button>
                    </div>
                </div>

                <div class="address-section">
                    <div class="address-label">주소</div>
                    <div class="address-inputs">
                        <input type="text" name="mem_zip" id="mem_zip" placeholder="우편번호검색" readonly onclick="postCode()">
                        <input type="text" name="mem_addr1" id="mem_addr1" placeholder="기본주소" readonly>
                        <input type="text" name="mem_addr2" id="mem_addr2" placeholder="상세주소입력">
                    </div>
                </div>

                <div class="signup-submit">
                    <button type="submit" class="btn-signup">회원가입</button>
                </div>
            </form>
          </div>
        </div>
      </main>
    </div>
</div>
<div th:replace="~{member/_tail.html}"></div>
