<!DOCTYPE html>
<div th:replace="~{admin/shop/_head.html}"></div>

    

    <div class="main">
        <div class="middle main-content">
            <div class="main-common">
                <div class="main-head">
                    <div>
                        <h3>상점목록</h3>
                    </div>
                    <div class="main-head-right">
                        <a href="">HOME</a>
                        <div>
                            &nbsp;>&nbsp;
                        </div>
                        <a href="">상점관리</a>
                        <div>
                            &nbsp;>&nbsp;
                        </div>
                        <a th:href="@{/admin/shop/list}" class="nav-last">상점목록</a>
                    </div>
                </div>
                <div class="main-content-top"></div>
                <main>
                    <div class="sub-top">
                        <div class="search-bar">
                            <form action="" method="get">
                                <select name="searchType" id="">
                                    <option value="corp_name">상호명</option>
                                    <option value="mem_name">대표자</option>
                                    <option value="corp_reg_hp">사업자등록번호</option>
                                    <option value="mem_hp">연락처</option>
                                </select>
                                <div class="search-place">
                                    <input type="text" name="keyword" placeholder="검색어 입력">
                                    <button type="submit">
                                    <img th:src="@{/image/search.png}" alt="검색">
                                    </button>
                                </div>
                            </form> 
                        </div>
                        <div class="state-wrap">
                            <span class="state running">
                                <span class="color-dot running">•</span><span>운영 중</span>
                            </span>
                            <span class="state stopped">
                                <span class="color-dot stopped">•</span><span>운영 중지</span>
                            </span>
                            <span class="state pending">
                                <span class="color-dot pending">•</span><span>운영 준비</span>
                            </span>
                        </div>
                    </div>
                    <table class="table">
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>번호</th>
                            <th>상호명</th>
                            <th>대표</th>
                            <th>사업자등록번호</th>
                            <th>통신판매업번호</th>
                            <th>연락처</th>
                            <th>운영</th>
                            <th>관리</th>
                        </tr>
                        <tr th:each="seller, stat : ${pageResponseDTO.dtoList}">
                            <td><input type="checkbox" class="checkOne" th:data-id="${seller.mem_id}"></td>
                            <td>[[${pageResponseDTO.startNo - stat.index}]]</td>
                            
                            <td>[[${seller.corp_name}]]</td>
                            <td>[[${seller.mem_name}]]</td>
                            <td>[[${seller.corp_reg_hp}]]</td>
                            <td>[[${seller.corp_tel_hp}]]</td>
                            <td>[[${seller.mem_hp}]]</td>
                            <td th:if="${seller.mem_stat.equals('운영중')}" class="color-dot running">•</td>
                            <td th:if="${seller.mem_stat.equals('운영중지')}" class="color-dot stopped">•</td>
                            <td th:if="${seller.mem_stat.equals('운영준비')}" class="color-dot pending">•</td>
                            <td>
                                <form method="post">
                                    <input type="hidden" name="mem_id" th:value="${seller.mem_id}">
                                    <input type="hidden" name="mem_stat" th:value="${seller.mem_stat}">
                                    <input th:if="${seller.mem_stat.equals('운영중')}" type="submit" value="[ 중단 ]" class="openModalBtn2">
                                    <input th:if="${seller.mem_stat.equals('운영중지')}" type="submit" value="[ 재개 ]" class="openModalBtn2">
                                    <input th:if="${seller.mem_stat.equals('운영준비')}" type="submit" value="[ 승인 ]" class="openModalBtn2">
                                </form>
                            </td>
                        </tr>


                    </table>
                    
                    <div class="banner-actions">
                    <button type="button" id="deleteSelected" class="delete-btn">선택삭제</button>

                    <div class="page">
                        <a th:if="${pageResponseDTO.prev}" th:href="@{/admin/shop/list(pg=${pageResponseDTO.start - 1})}" class="prev">이전</a>
                        <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                            <a th:href="@{/admin/shop/list(pg=${num})}" th:class="${num == pageResponseDTO.pg ? 'current' : 'num'}">[[${num}]]</a>
                        </th:block>
                        <a th:if="${pageResponseDTO.next}" th:href="@{/admin/shop/list(pg=${pageResponseDTO.end + 1})}" class="next">다음</a>
                    </div>

                    <button class="register-btn" id="openModalBtn">상점등록</button>
                    </div>
                    <br>

                </main>
            </div>
        </div>
    </div>




    <!-- 모달(팝업) HTML -->
    <div class="modal-overlay hidden" id="modal">
        <div class="modal-popup">
            <div class="modal-header">
                <h2>상점등록</h2>
                <button class="close-btn" id="closeModalBtn">&times;</button>
            </div>
            <form th:action="@{/admin/shop/register}" method="post">
                <div class="modal-content">
                    <hr>
                    <div class="form-group">
                        <label for="id">아이디</label>
                        <input type="text" name="mem_id" id="id">
                        <span class="description">영문, 숫자 4~12자 설정</span>
                    </div>
                    <div class="form-group">
                        <label for="password">비밀번호</label>
                        <input type="password" name="mem_pass" id="password">
                        <span class="description">영문, 숫자, 특수문자 8~12자 설정</span>
                    </div>
                    <div class="form-group">
                        <label for="password-confirm">비밀번호확인</label>
                        <input type="password" name="mem_pass2" id="password-confirm">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="store-name">상호명</label>
                        <input type="text" id="store-name" name="corp_name" placeholder="상호명입력 예) (주)">
                    </div>
                    <div class="form-group">
                        <label for="ceo-name">대표</label>
                        <input type="text" id="ceo-name" name="mem_name" placeholder="이름입력">
                    </div>
                    <div class="form-group">
                        <label for="biz-reg-num">사업자등록번호</label>
                        <input type="text" id="biz-reg-num" name="corp_reg_hp">
                        <span class="description">- 포함 12자리 입력</span>
                    </div>
                    <div class="form-group">
                        <label for="ecom-reg-num">통신판매업번호</label>
                        <input type="text" id="ecom-reg-num" name="corp_tel_hp">
                        <span class="description">- 포함 12자리 입력</span>
                    </div>
                    <div class="form-group">
                        <label for="tel">전화번호</label>
                        <input type="text" id="tel" name="mem_hp">
                    </div>
                    <div class="form-group">
                        <label for="fax">팩스</label>
                        <input type="text" id="fax" name="corp_fax">
                    </div>
                    <div class="form-group">
                        <label for="zipcode">주소</label>
                        <input type="text" id="zipcode" placeholder="우편번호" readonly name="mem_zip">
                        <button type="button" id="searchAddressBtn" class="search-btn">우편번호 검색</button>
                    </div>
                    <div class="form-group">
                        <label for="address"></label>
                        <input type="text" id="address" name="mem_addr1" placeholder="기본주소" readonly>
                    </div>
                    <div class="form-group">
                        <label for="address-detail"></label>
                        <input type="text" id="address-detail" name="mem_addr2" placeholder="상세주소입력">
                    </div>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button type="submit">등록하기</button>
                </div>
            </form>
        </div>
    </div>


<div th:replace="~{admin/shop/_tail.html}"></div>