<!DOCTYPE html>
<div th:replace="~{admin/shop/_head.html}"></div>

    

    <div class="main">
        <div class="middle main-content">
            <div class="main-common">
                <div class="main-head">
                    <div>
                        <h3>매출현황</h3>
                    </div>
                    <div class="main-head-right">
                        <a href="">HOME</a>
                        <div>
                            &nbsp;>&nbsp;
                        </div>
                        <a href="">상점관리</a>
                        <div>
                            &nbsp;>&nbsp;
                        </div>
                        <a href="" class="nav-last">매출현황</a>
                    </div>
                </div>
                <div class="main-content-top"></div>
                <main>
                    <form id="filterForm" th:action="@{/admin/shop/range}" method="get">
                        <select name="range" id="rangeBtn" class="select-2">
                            <option value="day">일별</option>
                            <option value="week">주간</option>
                            <option value="month">한달</option>
                        </select>
                    </form>
                    <table class="table">
                        <tr>

                            <th>번호</th>
                            <th>상호명</th>
                            <th>사업자등록번호</th>
                            <th>주문건수</th>
                            <th>결제완료</th>
                            <th>배송중</th>
                            <th>배송완료</th>
                            <th>구매확정</th>
                            <th>주문합계</th>
                            <th>매출합계</th>
                        </tr>
                        <tr th:each="seller, stat : ${pageResponseDTO.dtoList}">
                            <td>[[${pageResponseDTO.startNo - stat.index}]]</td>
                            
                            <td>[[${seller.corp_name}]]</td>
                            <td>[[${seller.corp_reg_hp}]]</td>
                            <td>[[${seller.ord_cnt}]]</td>
                            <td>[[${seller.ord_st_cnt}]]</td>
                            <td>[[${seller.stat2_cnt}]]</td>
                            <td>[[${seller.stat3_cnt}]]</td>
                            <td>[[${seller.stat4_cnt}]]</td>
                            <td>[[${seller.tot_ord_price}]]</td>
                            <td>[[${seller.tot_sell_price}]]</td>
                        </tr>


                    </table>
                    <br>

                    <div class="page">
                        <a th:if="${pageResponseDTO.prev}" th:href="@{/admin/shop/sales(pg=${pageResponseDTO.start - 1})}" class="prev">이전</a>
                        <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                            <a th:href="@{/admin/shop/sales(pg=${num})}" th:class="${num == pageResponseDTO.pg ? 'current' : 'num'}">[[${num}]]</a>
                        </th:block>
                        <a th:if="${pageResponseDTO.next}" th:href="@{/admin/shop/sales(pg=${pageResponseDTO.end + 1})}" class="next">다음</a>
                    </div>


                    <br>
                </main>
            </div>
        </div>
    </div>

    <div th:replace="~{admin/shop/_tail.html}"></div>