<div th:replace="~{admin/config/_head.html}"></div>

    

    <div class="main">
        <div class="middle main-content">
            <div class="main-common">
                <div class="main-head">
                    <div>
                        <h3>기본설정</h3>
                    </div>
                    <div class="main-head-right">
                        <a href="">HOME</a>
                        <div>
                            &nbsp;>&nbsp;
                        </div>
                        <a th:href="@{/admin/config/basic}">환경설정</a>
                        <div>
                            &nbsp;>&nbsp;
                        </div>
                        <a th:href="@{/admin/config/basic}" class="nav-last">기본설정</a>
                    </div>
                </div>
                <div class="main-content-top"></div>

                <main>


                    <h2 class="h2-1">버전 정보</h2>
                    <div class="gray-1">현재 사이트 버전</div>
                    <table class="table-1">
                        <tr>
                            <th>사이트 버전</th>
                            <td>[[${version.ver_version}]]</td>
                        </tr>
                    </table>


                    <h2 class="h2-1">사이트</h2>
                    <div class="gray-1">브라우저 탭, 헤더/푸터 노출 정보</div>
                    <form action="" method="post">
                        <input type="hidden" name="type" value="1">
                        <table class="table-1">
                            <tr>
                                <th>제목</th>
                                <td><input type="text" name="s_title" th:value="${siteInfo.s_title}" class="input-1"></td>
                            </tr>
                            <tr>
                                <th>부제</th>
                                <td><input type="text" name="s_subtitle" th:value="${siteInfo.s_subtitle}" class="input-1"></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="submit-1"><input type="submit" value="수정하기" class="submit-btn-1"></td>
                            </tr>
                        </table>
                    </form>

                    <h2 class="h2-1">로고</h2>
                    <div class="gray-1">브라우저 탭, 헤더/푸터 노출 로고</div>
                    <form action="" method="post">
                        <input type="hidden" name="type" value="2">
                        <table class="table-1">
                            <tr>
                                <th>헤더 로고</th>
                                <td><input type="file" name="#" class="input-1"></td>
                            </tr>
                            <tr>
                                <th>푸터 로고</th>
                                <td><input type="file" name="#" class="input-1"></td>
                            </tr>
                            <tr>
                                <th>파비콘</th>
                                <td><input type="file" name="#" class="input-1"></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="submit-1"><input type="submit" value="수정하기" class="submit-btn-1"></td>
                            </tr>
                        </table>
                    </form>

                    <h2 class="h2-1">기업 정보</h2>
                    <div class="gray-1">푸터에 노출되는 기업 정보</div>
                    <form action="" method="post">
                        <input type="hidden" name="type" value="3">
                        <table class="table-1">
                            <tr>
                                <th>상호명</th>
                                <td><input type="text" name="s_corp_name" class="input-1" th:value="${siteInfo.s_corp_name}"></td>
                            </tr>
                            <tr>
                                <th>대표이사</th>
                                <td><input type="text" name="s_ceo" class="input-1" th:value="${siteInfo.s_ceo}"></td>
                            </tr>
                            <tr>
                                <th>사업자등록번호</th>
                                <td><input type="text" name="s_reg_hp" class="input-1" th:value="${siteInfo.s_reg_hp}"></td>
                            </tr>
                            <tr>
                                <th>통신판매업신고</th>
                                <td><input type="text" name="s_tel_reg" class="input-1" th:value="${siteInfo.s_tel_reg}"></td>
                            </tr>
                            <tr>
                                <th>기본주소</th>
                                <td><input type="text" name="s_addr1" class="input-1" th:value="${siteInfo.s_addr1}"></td>
                            </tr>
                            <tr>
                                <th>상세주소</th>
                                <td><input type="text" name="s_addr2" class="input-1" th:value="${siteInfo.s_addr2}"></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="submit-1"><input type="submit" value="수정하기" class="submit-btn-1"></td>
                            </tr>
                        </table>
                    </form>

                    <h2 class="h2-1">고객센터 정보</h2>
                    <div class="gray-1">푸터에 노출되는 고객센터 정보</div>
                    <form action="" method="post">
                        <input type="hidden" name="type" value="4">
                        <table class="table-1">
                            <tr>
                                <th>전화번호</th>
                                <td><input type="text" name="s_cs_hp" class="input-1" th:value="${siteInfo.s_cs_hp}"></td>
                            </tr>
                            <tr>
                                <th>업무시간</th>
                                <td><input type="text" name="s_cs_time" class="input-1" th:value="${siteInfo.s_cs_time}"></td>
                            </tr>
                            <tr>
                                <th>이메일</th>
                                <td><input type="text" name="s_cs_email" class="input-1" th:value="${siteInfo.s_cs_email}"></td>
                            </tr>
                            <tr>
                                <th>전자금융거래 분쟁담당</th>
                                <td><input type="text" name="s_cs_hp2" class="input-1" th:value="${siteInfo.s_cs_hp2}"></td>
                            </tr>

                            <tr>
                                <td colspan="2" class="submit-1"><input type="submit" value="수정하기" class="submit-btn-1"></td>
                            </tr>
                        </table>
                    </form>

                    <h2 class="h2-1">카피라이트</h2>
                    <div class="gray-1">푸터에 노출되는 카피라이트 정보</div>
                    <form action="" method="post">
                        <input type="hidden" name="type" value="5">
                        <table class="table-1">
                            <tr>
                                <th>카피라이트</th>
                                <td><input type="text" name="s_copy" class="input-1" th:value="${siteInfo.s_copy}"></td>
                            </tr>

                            <tr>
                                <td colspan="2" class="submit-1"><input type="submit" value="수정하기" class="submit-btn-1"></td>
                            </tr>
                        </table>
                    </form>


                </main>
 
            </div>
        </div>
    </div>

<div th:replace="~{admin/config/_tail.html}"></div>
