<div th:replace="~{admin/config/_head.html}"></div>


    <div class="main">
        <div class="middle main-content">
            <div class="main-common">
                <div class="main-head">
                    <div>
                        <h3>카테고리 관리</h3>
                    </div>
                    <div class="main-head-right">
                        <a href="">HOME</a>
                        <div>
                            &nbsp;>&nbsp;
                        </div>
                        <a href="">환경설정</a>
                        <div>
                            &nbsp;>&nbsp;
                        </div>
                        <a href="" class="nav-last">카테고리</a>
                    </div>
                </div>
                <div class="main-content-top"></div>

                <main>


                    <h2 class="h2-1">카테고리 관리</h2>
                    <div class="gray-1">쇼핑몰 메인, 상품 페이지 사이드 카테고리 메뉴</div>

                    <form name="cateForm" id="cateForm" method="post">
                        <ul class="category-list-4">
                            <li class="category-item-4" draggable="true" th:each="cate1, cate1Stat : ${cate1List}">
                                <div>
                                    <div class="category-header-4">
                                        <span class="toggle-btn-4">▶</span> [[${cate1.cate1_name}]]
                                        <input type="hidden" th:name="${'mainCategories[' + cate1Stat.index + '].cate1_name'}" th:value="${cate1.cate1_name}">
                                        <input type="hidden" th:name="${'mainCategories[' + cate1Stat.index + '].cate1_no'}" th:value="${cate1.cate1_no}">

                                        <button class="delete-btn-4">삭제</button>
                                    </div>
                                    <ul class="subcategory-4">
                                        <th:block th:each="cate2, cate2Stat : ${cate2List}">
                                            <li class="subcategory-item-4" draggable="true"
                                                th:if="${cate2.cate1_no} == ${cate1.cate1_no}">
                                                [[${cate2.cate2_name}]]
                                                <input type="hidden" th:name="${'subCategories[' + cate2Stat.index + '].cate2_name'}" th:value="${cate2.cate2_name}">
                                                <input type="hidden" th:name="${'subCategories[' + cate2Stat.index + '].cate1_no'}"   th:value="${cate1.cate1_no}">

                                                <button class="delete-btn-4" type="button" >삭제</button>
                                            </li>
                                        </th:block>


                                        <li>
                                            <button class="add-btn-4 add-sub">+ 2차카테고리추가</button>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="category-item-4">
                                <div class="category-header-4" style="padding: 7px 16px;">
                                    <button type="button" class="add-btn-4 add-main">+ 1차카테고리추가</button>
                                </div>
                            </li>
                        </ul>

                        <div class="yellow-4">카테고리 메뉴 순서는 드래그 앤 드롭으로 수정할 수 있습니다.</div>

                        <input type="submit" class="submit-btn-1" value="수정하기">
                    </form>
                    <br><br>


                </main>
 
            </div>
        </div>
    </div>

<div th:replace="~{admin/config/_tail.html}"></div>