<div th:replace="~{admin/config/_head.html}"></div>

    

    <div class="main">
        <div class="middle main-content">
            <div class="main-common">
                <div class="main-head">
                    <div>
                        <h3>약관관리</h3>
                    </div>
                    <div class="main-head-right">
                        <a th:href="@{/admin/}">HOME</a>
                        <div>
                            &nbsp;>&nbsp;
                        </div>
                        <a th:href="@{/admin/config/basic}">환경설정</a>
                        <div>
                            &nbsp;>&nbsp;
                        </div>
                        <a th:href="@{/admin/config/policy}" class="nav-last">약관관리</a>
                    </div>
                </div>
                <div class="main-content-top"></div>

                <main>


                    <form method="post">
                        <h2 class="h2-3">구매회원 약관</h2>
                        <div class="gray-3">회원가입 및 정책 페이지 노출 약관</div>

                            <table class="table-3">
                                <tr>
                                    <th>약관 내용</th>
                                    <td>
                                        <textarea name="t_terms" id="">[[${terms.t_terms}]]</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="submit-3"><input type="submit" value="수정하기" class="submit-btn-3"></td>
                                </tr>
                            </table>


                        <h2 class="h2-3">판매회원 약관</h2>
                        <div class="gray-3">회원가입 및 정책 페이지 노출 약관</div>

                            <table class="table-3">
                                <tr>
                                    <th>약관 내용</th>
                                    <td>
                                        <textarea name="t_tax" id="">[[${terms.t_tax}]]</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="submit-3"><input type="submit" value="수정하기" class="submit-btn-3"></td>
                                </tr>
                            </table>



                        <h2 class="h2-3">전자금융거래 약관</h2>
                        <div class="gray-3">회원가입 및 정책 페이지 노출 약관</div>

                            <table class="table-3">
                                <tr>
                                    <th>약관 내용</th>
                                    <td>
                                        <textarea name="t_finance" id="">[[${terms.t_finance}]]</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="submit-3"><input type="submit" value="수정하기" class="submit-btn-3"></td>
                                </tr>
                            </table>



                        <h2 class="h2-3">위치정보 이용약관</h2>
                        <div class="gray-3">회원가입 및 정책 페이지 노출 약관</div>

                            <table class="table-3">
                                <tr>
                                    <th>약관 내용</th>
                                    <td>
                                        <textarea name="t_location" id="">[[${terms.t_location}]]</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="submit-3"><input type="submit" value="수정하기" class="submit-btn-3"></td>
                                </tr>
                            </table>



                        <h2 class="h2-3">개인정보처리방침</h2>
                        <div class="gray-3">회원가입 및 정책 페이지 노출 약관</div>

                            <table class="table-3">
                                <tr>
                                    <th>약관 내용</th>
                                    <td>
                                        <textarea name="t_privacy" id="">[[${terms.t_privacy}]]</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="submit-3"><input type="submit" value="수정하기" class="submit-btn-3"></td>
                                </tr>
                            </table>

                    </form>


                </main>
 
            </div>
        </div>
    </div>

<div th:replace="~{admin/config/_tail.html}"></div>