<div th:replace="~{admin/coupon/_head.html}"></div>

    

    <div class="main">
        <div class="middle main-content">
            <div class="main-common">
                <div class="main-head">
                    <div>
                        <h3>포인트관리</h3>
                    </div>
                    <div class="main-head-right">
                        <a href="">HOME</a>
                        <div>
                            &nbsp;>&nbsp;
                        </div>
                        <a href="">회원관리</a>
                        <div>
                            &nbsp;>&nbsp;
                        </div>
                        <a href="" class="nav-last">포인트관리</a>
                    </div>
                </div>
                <div class="main-content-top"></div>


                <main>
                    <!-- search bar 있으신 분들은 위쪽 select-2를 삭제 -->
                    <div class="sub-top">
                        
                        <div class="search-bar">
                            
                            <form action="">
                                <select name="" id="">
                                    <option value="">아이디</option>
                                    <option value="">이름</option>
                                    <option value="">이메일</option>
                                    <option value="">휴대폰</option>
                                </select>
                                <div class="search-place">
                                    <input type="text" placeholder="검색어 입력">
                                    <button type="submit">
                                    <img src="/kmarket/inc/image/search.png" alt="검색">
                                    </button>
                                </div>
                            </form> 
                        </div>
                    </div>
                    <!-- 여기까지 sub-top -->


                    <table class="table">
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>번호</th>
                            <th>아이디</th>
                            <th>이름</th>
                            <th>지급 포인트</th>
                            <th>잔여 포인트</th>
                            <th>지급 내용</th>
                            <th>지급 날짜</th>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            
                            <td>abc1234</td>
                            <td>정우성</td>
                            <td>1,000</td>
                            <td>15,000</td>
                            <td>구매확정 포인트 지급</td>
                            <td>0000-00-00 00:00:00</td>

                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            
                            <td>abc1234</td>
                            <td>정우성</td>
                            <td>1,000</td>
                            <td>15,000</td>
                            <td>구매확정 포인트 지급</td>
                            <td>0000-00-00 00:00:00</td>

                        </tr>

                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            
                            <td>abc1234</td>
                            <td>정우성</td>
                            <td>1,000</td>
                            <td>15,000</td>
                            <td>구매확정 포인트 지급</td>
                            <td>0000-00-00 00:00:00</td>

                        </tr>
                        
                    </table>


                    <!-- banner-actions div 안에서 가지고 있는 버튼 따라 삭제하시면 됩니당 -->
                    <!-- 페이지 넘기는 버튼 삭제하고 싶으면 그냥 page 삭제하면 되고 -->
                    <!-- 버튼을 삭제하고 싶으면 버튼 클래스를 transpar로 바꿔주세요! -->
                    <div class="banner-actions">
                        <button class="delete-btn">선택삭제</button>

                        <div class="page">
                            <a href="#" class="prev">이전</a>
                            <a href="#" class="num current">1</a>
                            <a href="#" class="num">2</a>
                            <a href="#" class="num">3</a>
                            <a href="#" class="next">다음</a>
                        </div>

                        <button class="transpar" id="openModalBtn">상점등록</button>
                    </div>
                    

                </main>
            </div>
        </div>
    </div>

<div th:replace="~{admin/coupon/_tail.html}"></div>



</body>
</html>
