<div th:replace="~{admin/product/_head.html}"></div>
<div class="main">
    <div class="middle main-content">
        <div class="main-common">
            <div class="main-head">
                <div>
                    <h3>상품목록</h3>
                </div>
                <div class="main-head-right">
                    <a href="">HOME</a>
                    <div>
                        &nbsp;>&nbsp;
                    </div>
                    <a href="">상품관리</a>
                    <div>
                        &nbsp;>&nbsp;
                    </div>
                    <a href="" class="nav-last">상품목록</a>
                </div>
            </div>
            <div class="main-content-top"></div>


            <main>

                <!-- search bar 있으신 분들은 위쪽 select-2를 삭제 -->
                <div class="sub-top">


                    <div class="search-bar">

                        <form action="">
                            <select name="" id="">
                                <option value="">상품명</option>
                                <option value="">상품번호</option>
                                <option value="">판매자</option>

                            </select>
                            <div class="search-place">
                                <input type="text" placeholder="검색어 입력">
                                <button type="submit">
                                <img th:src="@{/image/search.png}" alt="검색">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- 여기까지 sub-top -->


                <table class="table">
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>사진</th>
                        <th>상품코드</th>
                        <th>상품명</th>
                        <th>판매가격</th>
                        <th>포인트</th>
                        <th>재고</th>
                        <th>판매자</th>
                        <th>조회</th>
                        <th>관리</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td><img src="#" alt=""></td>

                        <td>210394895</td>
                        <td>아디다스 운동화</td>
                        <td>110,000</td>
                        <td>15%</td>
                        <td>150</td>
                        <td>1,000</td>
                        <td>(주)다파라</td>

                        <td>
                            <button class="del-btn"><a href="#">[ 삭제 ]</a></button><br>
                            <button class="mod-btn"><a href="#">[ 수정 ]</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td><img src="#" alt=""></td>

                        <td>210394895</td>
                        <td>아디다스 운동화</td>
                        <td>110,000</td>
                        <td>15%</td>
                        <td>150</td>
                        <td>1,000</td>
                        <td>(주)다파라</td>

                        <td>
                            <button class="del-btn"><a href="#">[ 삭제 ]</a></button><br>
                            <button class="mod-btn"><a href="#">[ 수정 ]</a></button>
                        </td>
                    </tr>



                </table>


                <!-- banner-actions div 안에서 가지고 있는 버튼 따라 삭제하시면 됩니당 -->
                <!-- 페이지 넘기는 버튼 삭제하고 싶으면 그냥 page 삭제하면 되고 -->
                <!-- 버튼을 삭제하고 싶으면 버튼 클래스를 transpar로 바꿔주세요! -->
                <div class="banner-actions">
                    <button class="delete-btn">선택삭제</button>

                    <div class="page">
                        <a href="#" class="prev">이전</a>
                        <a href="#" class="num current">1</a>
                        <a href="#" class="num">2</a>
                        <a href="#" class="num">3</a>
                        <a href="#" class="next">다음</a>
                    </div>

                    <button class="transpar" id="openModalBtn">상점등록</button>
                </div>


            </main>
        </div>
    </div>
</div>
<div th:replace="~{admin/product/_tail.html}"></div>
