
<footer>
    <div class="middle">
        <p id="footer-p" th:text="${copyrightDTO.getSCopy()} + '.' + ${copyrightDTO.getSTitle()} + ' ADMINISTRATOR Version ' + ${copyrightDTO.getVerVersion()}">
            Copyright ©shoply.co.kr All rights reserved. shoply ADMINISTRATOR Version 0.0.4-SNAPSHOT
        </p>
    </div>
</footer>





<script th:inline="javascript">



    document.addEventListener("DOMContentLoaded", () => {

        const orderList = /*[[${details}]]*/ [];
        // 열기 버튼
        const modalButton = document.querySelectorAll(".openModalBtn");
        if (modalButton) {
            modalButton.forEach(btn => {
                btn.addEventListener("click", (e) => {
                    e.preventDefault();

                    const targetId = btn.dataset.target;
                    const modal = document.getElementById(targetId);
                    if (!modal) return;

                    const itemNo = parseInt(btn.dataset.item); // 버튼에 넣은 item_no
                    const orderData = orderList.find(o => o.item_no === itemNo);

                    console.log("item_no:", itemNo);

                    if (orderData) {
                        // 예: 주문번호 표시
                        const detailNo = document.getElementById("detailOrderNo");
                        if (detailNo){
                            detailNo.innerText = `${orderData.ord_no}`;
                        }

                        // 예: 상품정보 표시
                        const tbody = modal.querySelector("tbody");
                        if (tbody){
                            tbody.innerHTML = `
          <tr>
            <td><img src="/shoply${orderData.f_name}" style="width:60px;"></td>
            <td>${orderData.prod_no}</td>
            <td>${orderData.prod_name}</td>
            <td>${orderData.corp_name}</td>
            <td>${orderData.prod_price.toLocaleString()}</td>
            <td>-${(orderData.prod_price * (orderData.prod_sale) / 100).toLocaleString()}</td>
            <td>${orderData.item_cnt}</td>
            <td>${orderData.prod_deliv_price.toLocaleString()}</td>
            <td>${orderData.ord_total.toLocaleString()}</td>
          </tr>
        `;
                        }
                        const summary = modal.getElementsByClassName("summary-box")[0];
                        if (summary) {
                            summary.innerHTML = `
                    <p>총 상품금액 : ${(orderData.prod_price * orderData.item_cnt).toLocaleString()}원</p>
        <p>총 할인금액 : ${(orderData.prod_price * (orderData.prod_sale) / 100).toLocaleString()}원</p>
        <p>배송비 : ${orderData.prod_deliv_price.toLocaleString()}원</p>
        <p class="total"><span class="label">총 결제금액</span> <span class="value">${orderData.ord_total.toLocaleString()}</span></p>
                    `;
                        }


                        let statusHtml = "";
                        if (orderData.ord_stat === 1) {
                            statusHtml = `<span class="status wait">결제대기</span>`;
                        } else if (orderData.ord_stat === 2) {
                            statusHtml = `<span class="status complete">결제완료</span>`;
                        } else if (orderData.ord_stat === 3) {
                            statusHtml = `<span class="status cancel">주문취소</span>`;
                        }

                        const payment = modal.getElementsByClassName("payment-box")[0];
                        if (payment){
                            payment.innerHTML = `
<div class="left">
          <p>주문번호 : ${orderData.ord_no}</p>
          <p>결제방법 : ${orderData.ord_payment}</p>
          <p>주문자 : ${orderData.mem_id} / ${orderData.ord_hp}</p>
          <p>결제상태 : ${statusHtml}</p>
        </div>
        <div class="right">
        </div>
                    `;
                        }

                        const delivBox = modal.getElementsByClassName("info-box")[1];
                        if (delivBox) {
                            delivBox.innerHTML = `
                    <p>수취인 : ${orderData.ord_name}</p>
        <p>연락처 : ${orderData.ord_hp}</p>
        <p>주소 : ${orderData.ord_addr1} ${orderData.ord_addr2}</p>
                    `;
                        }

                        const deliveryOrderNo = document.getElementById("deliveryOrderNo");
                        deliveryOrderNo.innerText = `${orderData.ord_no}`;

                        const content2 = document.getElementsByClassName("modal-content")[1];
                        content2.innerHTML = `
                    <input type="hidden" name="item_no" value="${orderData.item_no}">
                    <div class="form-group">
                  <label>주문번호</label>
                  <input type="text" name="ord_no" value="${orderData.ord_no}" readonly>
              </div>
              <div class="form-group">
                  <label>수취인</label>
                  <input type="text" name="ord_name" value="${orderData.ord_name}" placeholder="">
              </div>
              <div class="form-group">
                  <label>우편번호</label>
                  <input type="text" name="ord_zip" value="${orderData.ord_zip}" placeholder="">
              </div>
              <div class="form-group">
                  <label>기본주소</label>
                  <input type="text" name="ord_addr1" value="${orderData.ord_addr1}" placeholder="">
              </div>
              <div class="form-group">
                  <label>상세주소</label>
                  <input type="text" name="ord_addr2" value="${orderData.ord_addr2}" placeholder="">
              </div>
              <div class="form-group">
                  <label>택배사</label>
                  <select name="item_delv">
                      <option>택배사 선택</option>
                      <option value="우체국">우체국</option>
                      <option value="한진택배">한진택배</option>
                      <option value="롯데택배">롯데택배</option>
                      <option value="CJ 대한통운">CJ 대한통운</option>
                  </select>
              </div>
              <div class="form-group">
                  <label>운송장번호</label>
                  <input type="text" name="item_trk_num" placeholder="발급받은 11자리 운송장번호 입력">
              </div>
              <div class="form-group">
                  <label>기타</label>
                  <input type="text" placeholder="기타정보입력">
              </div>
                    `;
                    }






                    // ✅ 마지막에 모달 열기
                    modal.classList.remove("hidden");

                });
            });
        }

        const delvList = /*[[${delvDtls}]]*/ [];

        const modalButton2 = document.querySelectorAll(".openModBtn");
        if (modalButton2) {
            modalButton2.forEach(btn2 => {
                btn2.addEventListener("click", (e) => {
                    e.preventDefault();

                    const targetId2 = btn2.dataset.target;
                    const modal2 = document.getElementById(targetId2);
                    if (!modal2) return;

                    const itemNo = parseInt(btn2.dataset.item); // 버튼에 넣은 item_no
                    const delv = delvList.find(o => o.item_no === itemNo);

                    const no = document.getElementById("detailOrderNo");
                    no.innerText = `${delv.ord_no}`;

                    const prodInfo = document.getElementById("prdInf");
                    prodInfo.innerHTML = `
                    <tr>
                                <td><img src="/shoply${delv.f_name}" alt="이미지있음"></td>
                                <td>${delv.prod_no}</td>
                                <td>${delv.prod_name}</td>
                                <td>${delv.corp_name}</td>
                                <td>${delv.prod_price.toLocaleString()}</td>
                                <td>${delv.item_cnt}</td>
                                <td>${delv.prod_deliv_price.toLocaleString()}</td>
                                <td>${delv.ord_total.toLocaleString()}</td>
                            </tr>
                    `;

                    const delvBox = document.getElementsByClassName("payment-box")[0];
                    delvBox.innerHTML = `
                    <div class="left">
                            <p>주문번호 : ${delv.ord_no}</p>
                            <p>수령인 : ${delv.ord_name}</p>
                            <p>연락처 : ${delv.ord_hp}</p>
                            <p>배송지 주소 : ${delv.ord_addr1} ${delv.ord_addr2}</p>

                        </div>
                        <div class="right">
                        </div>
                    `;

                    const delvBox2 = document.getElementsByClassName("payment-box")[1];
                    delvBox2.innerHTML = `
                    <div class="left">
                            <p>택배사 : ${delv.item_delv}</p>
                            <p>송장번호 : ${delv.item_trk_num}</p>
                            <p>기타 : 감사합니다. 수고하세요.</p>
                        </div>
                        <div class="right">
                        </div>
                    `;


                    modal2.classList.remove("hidden");

                });
            });
        }

        /*
        document.querySelectorAll(".openModalBtn").forEach(btn => {
            btn.addEventListener("click", (e) => {
                e.preventDefault();
                const targetId = btn.dataset.target;
                if (targetId && document.getElementById(targetId)) {
                    document.getElementById(targetId).classList.remove("hidden");
                }
            });
        });


         */

        // 닫기 버튼 + 배경 클릭
        document.querySelectorAll(".modal").forEach(modal => {
            modal.addEventListener("click", (e) => {
                if (e.target.classList.contains("closeModalBtn") || e.target === modal) {
                    modal.classList.add("hidden");
                }
            });
        });
    });
</script>
