
<footer>
    <div class="middle">
        <p id="footer-p">
            Copyright ©[[${appInfo.appName}]].co.kr All rights reserved. [[${appInfo.appName}]] ADMINISTRATOR Version [[${appInfo.appVersion}]]
        </p>
    </div>
</footer>





<script th:inline="javascript">



    document.addEventListener("DOMContentLoaded", () => {

        const orderList = /*[[${details}]]*/ [];
        // 열기 버튼
        document.querySelectorAll(".openModalBtn").forEach(btn => {
            btn.addEventListener("click", (e) => {
                e.preventDefault();

                const targetId = btn.dataset.target;
                const modal = document.getElementById(targetId);
                if (!modal) return;

                // ✅ 여기에 데이터 바인딩 로직 추가
                const itemNo = parseInt(btn.dataset.item); // 버튼에 넣은 item_no
                const orderData = orderList.find(o => o.item_no === itemNo);

                console.log("item_no:", itemNo);

                if (orderData) {
                    // 예: 주문번호 표시
                    const detailNo = document.getElementById("detailOrderNo");
                    detailNo.innerText = `${orderData.ord_no}`;

                    // 예: 상품정보 표시
                    const tbody = modal.querySelector("tbody");
                    tbody.innerHTML = `
          <tr>
            <td><img src="${orderData.f_name}" style="width:60px;"></td>
            <td>${orderData.prod_no}</td>
            <td>${orderData.prod_name}</td>
            <td>${orderData.corp_name}</td>
            <td>${orderData.prod_price.toLocaleString()}</td>
            <td>-${(orderData.prod_price * (orderData.prod_sale) / 100).toLocaleString()}</td>
            <td>${orderData.item_cnt}</td>
            <td>${orderData.prod_deliv_price.toLocaleString()}</td>
            <td>${orderData.ord_total.toLocaleString()}</td>
          </tr>
        `;
                    const summary = modal.getElementsByClassName("summary-box")[0];
                    summary.innerHTML = `
                    <p>총 상품금액 : ${(orderData.prod_price * orderData.item_cnt).toLocaleString()}원</p>
        <p>총 할인금액 : ${(orderData.prod_price * (orderData.prod_sale) / 100).toLocaleString()}원</p>
        <p>배송비 : ${orderData.prod_deliv_price.toLocaleString()}원</p>
        <p class="total"><span class="label">총 결제금액</span> <span class="value">${orderData.ord_total.toLocaleString()}</span></p>
                    `;


                    let statusHtml = "";
                    if (orderData.ord_stat === 1) {
                        statusHtml = `<span class="status wait">결제대기</span>`;
                    } else if (orderData.ord_stat === 2) {
                        statusHtml = `<span class="status complete">결제완료</span>`;
                    } else if (orderData.ord_stat === 3) {
                        statusHtml = `<span class="status cancel">주문취소</span>`;
                    }

                    const payment = modal.getElementsByClassName("payment-box")[0];
                    payment.innerHTML = `
<div class="left">
          <p>주문번호 : ${orderData.ord_no}</p>
          <p>결제방법 : ${orderData.ord_payment}</p>
          <p>주문자 : ${orderData.mem_id} / ${orderData.ord_hp}</p>
          <p>결제상태 : ${statusHtml}</p>
        </div>
        <div class="right">
        </div>
                    `;

                    const delivBox = modal.getElementsByClassName("info-box")[1];
                    delivBox.innerHTML = `
                    <p>수취인 : ${orderData.ord_name}</p>
        <p>연락처 : ${orderData.ord_hp}</p>
        <p>주소 : ${orderData.ord_addr1} ${orderData.ord_addr2}</p>
                    `;
                }


                // ✅ 마지막에 모달 열기
                modal.classList.remove("hidden");

            });
        });

        /*
        document.querySelectorAll(".openModalBtn").forEach(btn => {
            btn.addEventListener("click", (e) => {
                e.preventDefault();
                const targetId = btn.dataset.target;
                if (targetId && document.getElementById(targetId)) {
                    document.getElementById(targetId).classList.remove("hidden");
                }
            });
        });


         */

        // 닫기 버튼 + 배경 클릭
        document.querySelectorAll(".modal").forEach(modal => {
            modal.addEventListener("click", (e) => {
                if (e.target.classList.contains("closeModalBtn") || e.target === modal) {
                    modal.classList.add("hidden");
                }
            });
        });
    });
</script>
