<div th:replace="~{admin/order/_head.html}"></div>

  <!-- 메인 -->
  <div class="main">
    <div class="middle main-content">
      <div class="main-common">
        <div class="main-head">
          <div><h3>상점목록</h3></div>
          <div class="main-head-right">
            <a href="">HOME</a><div>&nbsp;>&nbsp;</div>
            <a href="">상점관리</a><div>&nbsp;>&nbsp;</div>
            <a href="" class="nav-last">상점목록</a>
          </div>
        </div>
        <div class="main-content-top"></div>

        <main>
          <!-- 주문현황 테이블 -->
          <table class="table order-table">
            <thead>
              <tr>
                <th>주문번호</th>
                <th>주문자</th>

                <th>주문건수</th>
                <th>주문합계</th>
                <th>결제수단</th>
                <th>주문상태</th>
                <th>주문일</th>
                <th>배송</th>
              </tr>
            </thead>
            <tbody>
            <tr th:each="order, stat : ${pageResponseDTO.dtoList}">
                <td><a href="#" class="openModalBtn" data-target="orderDetailModal" th:attr="data-item=${order.item_no}">[[${order.ord_no}]]</a></td>
                <td>[[${order.mem_id}]]</td>

                <td>[[${order.item_cnt}]]</td>
                <td>[[${#numbers.formatInteger(order.ord_total, 3, 'COMMA')}]]</td>
                <td>[[${order.ord_payment}]]</td>
                <td th:if="${order.ord_stat == 1}" class="status wait">결제대기</td>
                <td th:if="${order.ord_stat == 2}" class="status complete">결제완료</td>
                <td th:if="${order.ord_stat == 3}" class="status cancel">주문취소</td>
                <td>[[${order.ord_date}]]</td>
                <td th:if="${(order.ord_addr1 == null) && (order.ord_stat != 3)}"><button class="openModalBtn deliveryBtn" data-target="deliveryModal">배송하기</button></td>
                <td th:if="${(order.ord_addr1 != null) && (order.ord_stat != 3)}">입력완료</td>
                <td th:if="${order.ord_stat == 3}">주문취소</td>
            </tr>

            </tbody>
          </table>

          <!-- 페이지네이션 -->
            <div class="page">
                <a th:if="${pageResponseDTO.prev}" th:href="@{/admin/order/list(pg=${pageResponseDTO.start - 1})}" class="prev">이전</a>
                <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                    <a th:href="@{/admin/order/list(pg=${num})}" th:class="${num == pageResponseDTO.pg ? 'current' : 'num'}">[[${num}]]</a>
                </th:block>
                <a th:if="${pageResponseDTO.next}" th:href="@{/admin/order/list(pg=${pageResponseDTO.end + 1})}" class="next">다음</a>
            </div>
        </main>
      </div>
    </div>
  </div>


<!-- 주문상세 모달 -->
<div class="modal hidden" id="orderDetailModal">
  <div class="modal-popup large">
    <div class="modal-header">
        <h2>주문상세 <span id="detailOrderNo">10121211341</span></h2>
        <span class="closeModalBtn">&times;</span>
    </div>
    <div class="modal-content">
      <!-- 상품정보 -->
      <h3>상품정보</h3>
      <table class="table">
        <thead>
          <tr>
            <th>상품이미지</th>
            <th>상품번호</th>
            <th>상품명</th>
            <th>판매자</th>
            <th>가격</th>
            <th>할인</th>
            <th>수량</th>
            <th>배송비</th>
            <th>결제금액</th>
          </tr>
        </thead>
        <tbody>


        </tbody>
      </table>

      <!-- 상품 합계 영역 -->
      <div class="summary-box">
        <p>총 상품금액 : 107,000원</p>
        <p>총 할인금액 : -7,100원</p>
        <p>배송비 : 3,000원</p>
        <p class="total"><span class="label">총 결제금액</span> <span class="value">102,900원</span></p>
      </div>

      <!-- 결제정보 -->
      <h3>결제정보</h3>
      <div class="info-box payment-box">
        <div class="left">
          <p>주문번호 : 10121211341</p>
          <p>결제방법 : 신용카드 / 1234 **** **** 4432</p>
          <p>주문자 : 김유신 / 010-1234-1234</p>
          <p>결제상태 : <span class="status complete">결제완료</span></p>
        </div>
        <div class="right">
        </div>
      </div>

      <!-- 배송정보 -->
      <h3>배송정보</h3>
      <div class="info-box">
        <p>수취인 : 김유신</p>
        <p>연락처 : 010-1234-1234</p>
        <p>주소 : 부산 부산진구 123-11 10층</p>
      </div>
    </div>
  </div>
</div>

<!-- 배송입력 모달 -->
<div class="modal hidden" id="deliveryModal">
  <div class="modal-popup">
    <div class="modal-header">
        <h2>배송입력 <span id="deliveryOrderNo">10121211341</span></h2>
        <span class="closeModalBtn">&times;</span>
    </div>
     <div class="modal-content">
      <div class="form-group">
        <label>주문번호</label>
        <input type="text" value="" readonly>
      </div>
      <div class="form-group">
        <label>수취인</label>
        <input type="text" placeholder="">
      </div>
      <div class="form-group">
        <label>우편번호</label>
        <input type="text" placeholder="">
      </div>
      <div class="form-group">
        <label>기본주소</label>
        <input type="text" placeholder="">
      </div>
      <div class="form-group">
        <label>상세주소</label>
        <input type="text" placeholder="">
      </div>
      <div class="form-group">
        <label>택배사</label>
        <select>
          <option>택배사 선택</option>
          <option>대한통운</option>
          <option>한진택배</option>
          <option>롯데택배</option>
        </select>
      </div>
      <div class="form-group">
        <label>운송장번호</label>
        <input type="text" placeholder="발급받은 운송장번호 입력">
      </div>
      <div class="form-group">
        <label>기타</label>
        <input type="text" placeholder="기타정보입력">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="register-btn">등록하기</button>
    </div>
  </div>
</div>


</body>
</html>


<div th:replace="~{admin/order/_tail.html}"></div>


