<footer>
    <div class="top-footer">
        <div class="footer-wrapper">
            <div class="top-f">
                <a th:href="@{/company/index.html}" style="margin-left: 0px;">회사소개</a> |
                <a href="#">서비스이용약관</a> |
                <a href="#" style="color: rgb(175, 102, 175);">개인정보처리방침</a> |
                <a href="#">전자금융거래약관</a>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <h3 class="cpname">(주)샵플리닷컴</h3>
        <div class="call-cont">
            <img th:src="@{/image/call3.png}" alt="" style="height: 45px; margin-top: 5px;">
            <span class="tel">1234-5678</span>
            <span class="time"> (평일 09:00~18:00)</span>
        </div>
        <div style="color: gray; margin-top: 15px">
            <span>대표이사 : 홍길동</span>
            <span style="margin-left: 10px;">부산광역시 부산진구 중앙대로 103 그린타워 13층</span>
            <span style="margin-left: 10px;">사업자등록번호 : 123-45-12345</span>
            <div style="margin-top: 3px;">
                <span>전자금융거래 분쟁 담당 : 1234-1234(365일 09:00~18:00)</span>
            </div>
        </div>
    </div>

</footer>
</body>

<script>
    // 인쇄 기능
    document.querySelector(".print-btn").addEventListener("click", function() {
        window.print();
    });

    // 카테고리 토글
    document.getElementById("categoryBtn").addEventListener("click", function(e) {
        e.preventDefault();
        const box = document.getElementById("categoryBox");
        box.style.display = (box.style.display === "none" || box.style.display === "") ? "block" : "none";
    });

    // 서브메뉴 hover
    document.querySelectorAll(".main-menu li").forEach(item => {
        item.addEventListener("mouseenter", function() {
            document.querySelectorAll(".submenu-content").forEach(sub => sub.style.display = "none");
            document.getElementById(this.dataset.target).style.display = "block";
        });
    });
</script>




</html>