<div th:replace="~{policy/_head.html}"></div>

<div class="wrapper">

  <!-- 상단 배너 -->
  <div class="policy-banner">
    <div class="banner-text">
    <p>Shoply는 고객 여러분의 정보를 소중하게 생각합니다.<br>
    다양한 정책 및 법률을 확인해 보세요.</p>
    </div>
    <div class="banner-img">
      <i class="fa-solid fa-shield-halved"></i>
    </div>
  </div>

      <!-- 메인 컨텐츠 (약관 내용) -->
      <main class="policy-wrapper">
          <!-- 메인 타이틀 -->
          <h2 class="policy-main-title">Shoply 서비스 이용 약관</h2>

          <!-- 약관 메뉴 -->
          <div class="policy-menu">
              <div class="menu-center">
                  <a th:href="@{/policy/buyer}"
                     class="menu-item"
                     th:classappend="${activePage == 'buyer'} ? ' active'">
                      <i class="fa-solid fa-cart-shopping"></i>
                      <span>구매회원 약관</span>
                  </a>

                  <a th:href="@{/policy/seller}"
                     class="menu-item"
                     th:classappend="${activePage == 'seller'} ? ' active'">
                      <i class="fa-brands fa-sellsy"></i>
                      <span>판매회원 약관</span>
                  </a>

                  <a th:href="@{/policy/finance}"
                     class="menu-item"
                     th:classappend="${activePage == 'finance'} ? ' active'">
                      <i class="fa-solid fa-sack-dollar"></i>
                      <span>전자금융거래 약관</span>
                  </a>

                  <a th:href="@{/policy/location}"
                     class="menu-item"
                     th:classappend="${activePage == 'location'} ? ' active'">
                      <i class="fa-solid fa-location-dot"></i>
                      <span>위치정보 약관</span>
                  </a>

                  <a th:href="@{/policy/privacy}"
                     class="menu-item"
                     th:classappend="${activePage == 'privacy'} ? ' active'">
                      <i class="fa-solid fa-user-shield"></i>
                      <span>개인정보 처리방침</span>
                  </a>
              </div>


      <button class="print-btn">
        <i class="fa-solid fa-print"></i>
      </button>
    </div>

    <!-- 개인정보 처리방침 본문 -->
      <div class="policy-content">
          <div class="policy-content" th:utext="${terms.t_privacy}"></div>




    </div>
  </main>
</div>

<div th:replace="~{policy/_tail.html}"></div>



</body>
</html>
