<div th:replace="~{admin/cs/notice/_head.html}"></div>


    <div class="main">
        <div class="middle main-content">
            <div class="main-common">
                <div class="main-head">
                    <div>
                        <h3>문의하기 답변</h3>
                    </div>
                    <div class="main-head-right">
                        <a href="">HOME</a>
                        <div>
                            &nbsp;>&nbsp;
                        </div>
                        <a href="">고객센터</a>
                        <div>
                            &nbsp;>&nbsp;
                        </div>
                        <a href="" class="nav-last">문의하기</a>
                    </div>
                </div>
                <div class="main-content-top"></div>
                <main>
                    <table class="notice-view-table_2">
                        <tr>
                            <th>유형</th>
                            <td>회원 - 가입</td>
                        </tr>
                        <tr>
                            <th>제목</th>
                            <td>개인회원과 법인회원에 차이가 있나요?</td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td class="notice-content_2">개인회원하고 법인회원하고 차이를 알고 싶어요.
                                그리고 법인회원으로 가입하면 혜택이 있나요?
                                마지막으로 법인가입 하려면 어떻게 해야하죠?
                                알려주세요.
                            </td>
                        </tr>
                        <tr>
                            <th>답변</th>
                            <td>
                                <textarea class="qna-textarea_2" name="content" > </textarea>
                            </td>
                        </tr>
                    </table>

                    <div class="notice-buttons_2">
                        <button class="notice-btn_2 btn-delete_2">삭제</button>
                        <button class="notice-btn_2 btn-add_2">답변등록</button>
                        <button class="notice-btn_2 btn-list_2">목록</button>
                    </div>
                </main>
            </div>
        </div>
    </div>

<div th:replace="~{admin/coupon/_tail.html}"></div>



</body>
</html>
